// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { normalizeClientOptionsWithAuth, type NormalizedClientOptionsWithAuth } from "../../../../BaseClient.js";
import * as core from "../../../../core/index.js";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../core/headers.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as YouVersionPlatform from "../../../index.js";

export declare namespace OrganizationsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

/**
 * Provides information about our publishing partners in the YouVersion platform.  Use these to get
 * information about the organizations which provide Bible versions.
 */
export class OrganizationsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<OrganizationsClient.Options>;

    constructor(options: OrganizationsClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Returns a paginated list of Organization objects. Use bible_ids[] to filter
     * to organizations associated with the given Bible version(s); when omitted,
     * all organizations are returned.
     *
     * @param {YouVersionPlatform.V1OrganizationsCollectionGetRequest} request
     * @param {OrganizationsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.organizations.v1OrganizationsCollectionGet({
     *         page_token: "eyJzdGFydF9hdCI6IDI2fQ=="
     *     })
     */
    public v1OrganizationsCollectionGet(
        request: YouVersionPlatform.V1OrganizationsCollectionGetRequest = {},
        requestOptions?: OrganizationsClient.RequestOptions,
    ): core.HttpResponsePromise<YouVersionPlatform.V1OrganizationsCollectionGetResponse | undefined> {
        return core.HttpResponsePromise.fromPromise(this.__v1OrganizationsCollectionGet(request, requestOptions));
    }

    private async __v1OrganizationsCollectionGet(
        request: YouVersionPlatform.V1OrganizationsCollectionGetRequest = {},
        requestOptions?: OrganizationsClient.RequestOptions,
    ): Promise<core.WithRawResponse<YouVersionPlatform.V1OrganizationsCollectionGetResponse | undefined>> {
        const {
            "bible_ids[]": bibleIdsArray,
            page_size: pageSize,
            "fields[]": fieldsArray,
            page_token: pageToken,
        } = request;
        const _queryParams: Record<string, unknown> = {
            "bible_ids[]": bibleIdsArray,
            page_size: pageSize != null ? pageSize : undefined,
            "fields[]": fieldsArray,
            page_token: pageToken,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            mergeOnlyDefinedHeaders({ "Accept-Language": "en" }),
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "X-YVP-App-Key": requestOptions?.yvpAppKey ?? this._options?.yvpAppKey,
            }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.YouVersionPlatformEnvironment.Default,
                "v1/organizations",
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as YouVersionPlatform.V1OrganizationsCollectionGetResponse | undefined,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.YouVersionPlatformError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/v1/organizations");
    }

    /**
     * Get a single organization resource by its id.
     *
     * @param {YouVersionPlatform.V1OrganizationsResourceGetRequest} request
     * @param {OrganizationsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.organizations.v1OrganizationsResourceGet({
     *         organization_id: "550e8400-e29b-41d4-a716-446655440000"
     *     })
     */
    public v1OrganizationsResourceGet(
        request: YouVersionPlatform.V1OrganizationsResourceGetRequest,
        requestOptions?: OrganizationsClient.RequestOptions,
    ): core.HttpResponsePromise<YouVersionPlatform.V1OrganizationsResourceGetResponse> {
        return core.HttpResponsePromise.fromPromise(this.__v1OrganizationsResourceGet(request, requestOptions));
    }

    private async __v1OrganizationsResourceGet(
        request: YouVersionPlatform.V1OrganizationsResourceGetRequest,
        requestOptions?: OrganizationsClient.RequestOptions,
    ): Promise<core.WithRawResponse<YouVersionPlatform.V1OrganizationsResourceGetResponse>> {
        const { organization_id: organizationId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            mergeOnlyDefinedHeaders({ "Accept-Language": "en" }),
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "X-YVP-App-Key": requestOptions?.yvpAppKey ?? this._options?.yvpAppKey,
            }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.YouVersionPlatformEnvironment.Default,
                `v1/organizations/${core.url.encodePathParam(organizationId)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as YouVersionPlatform.V1OrganizationsResourceGetResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.YouVersionPlatformError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/v1/organizations/{organization_id}",
        );
    }

    /**
     * Get bibles associated with a specific organization by its id.
     *
     * @param {YouVersionPlatform.V1OrganizationsBiblesCollectionGetRequest} request
     * @param {OrganizationsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.organizations.v1OrganizationsBiblesCollectionGet({
     *         organization_id: "550e8400-e29b-41d4-a716-446655440000",
     *         page_token: "eyJzdGFydF9hdCI6IDI2fQ=="
     *     })
     */
    public v1OrganizationsBiblesCollectionGet(
        request: YouVersionPlatform.V1OrganizationsBiblesCollectionGetRequest,
        requestOptions?: OrganizationsClient.RequestOptions,
    ): core.HttpResponsePromise<YouVersionPlatform.V1OrganizationsBiblesCollectionGetResponse> {
        return core.HttpResponsePromise.fromPromise(this.__v1OrganizationsBiblesCollectionGet(request, requestOptions));
    }

    private async __v1OrganizationsBiblesCollectionGet(
        request: YouVersionPlatform.V1OrganizationsBiblesCollectionGetRequest,
        requestOptions?: OrganizationsClient.RequestOptions,
    ): Promise<core.WithRawResponse<YouVersionPlatform.V1OrganizationsBiblesCollectionGetResponse>> {
        const {
            organization_id: organizationId,
            page_size: pageSize,
            "fields[]": fieldsArray,
            page_token: pageToken,
        } = request;
        const _queryParams: Record<string, unknown> = {
            page_size: pageSize != null ? pageSize : undefined,
            "fields[]": fieldsArray,
            page_token: pageToken,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "X-YVP-App-Key": requestOptions?.yvpAppKey ?? this._options?.yvpAppKey }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.YouVersionPlatformEnvironment.Default,
                `v1/organizations/${core.url.encodePathParam(organizationId)}/bibles`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as YouVersionPlatform.V1OrganizationsBiblesCollectionGetResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.YouVersionPlatformError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/v1/organizations/{organization_id}/bibles",
        );
    }
}
