// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { normalizeClientOptionsWithAuth, type NormalizedClientOptionsWithAuth } from "../../../../BaseClient.js";
import * as core from "../../../../core/index.js";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../core/headers.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as YouVersionPlatform from "../../../index.js";

export declare namespace SearchVersesClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class SearchVersesClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<SearchVersesClient.Options>;

    constructor(options: SearchVersesClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Search for Bible verses by query, returning a paginated list of verse references. Verse results carry references and metadata only (e.g. JHN.3.16), never passage text; resolve verse text through the licensed-content endpoint. The bible_id determines the language searched, so this endpoint takes no language parameter. Use page_size and page_token to page through the full result set.
     *
     * @param {YouVersionPlatform.V1SearchVersesCollectionGetRequest} request
     * @param {SearchVersesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.searchVerses.v1SearchVersesCollectionGet({
     *         query: "query",
     *         bible_id: 1,
     *         page_token: "eyJzdGFydF9hdCI6IDI2fQ=="
     *     })
     */
    public v1SearchVersesCollectionGet(
        request: YouVersionPlatform.V1SearchVersesCollectionGetRequest,
        requestOptions?: SearchVersesClient.RequestOptions,
    ): core.HttpResponsePromise<YouVersionPlatform.V1SearchVersesCollectionGetResponse> {
        return core.HttpResponsePromise.fromPromise(this.__v1SearchVersesCollectionGet(request, requestOptions));
    }

    private async __v1SearchVersesCollectionGet(
        request: YouVersionPlatform.V1SearchVersesCollectionGetRequest,
        requestOptions?: SearchVersesClient.RequestOptions,
    ): Promise<core.WithRawResponse<YouVersionPlatform.V1SearchVersesCollectionGetResponse>> {
        const {
            query,
            bible_id: bibleId,
            user_intent: userIntent,
            page_size: pageSize,
            page_token: pageToken,
        } = request;
        const _queryParams: Record<string, unknown> = {
            query,
            bible_id: bibleId,
            user_intent: userIntent != null ? userIntent : undefined,
            page_size: pageSize,
            page_token: pageToken,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "X-YVP-App-Key": requestOptions?.yvpAppKey ?? this._options?.yvpAppKey }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.YouVersionPlatformEnvironment.Default,
                "v1/search-verses",
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as YouVersionPlatform.V1SearchVersesCollectionGetResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.YouVersionPlatformError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/v1/search-verses");
    }
}
