// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { normalizeClientOptionsWithAuth, type NormalizedClientOptionsWithAuth } from "../../../../BaseClient.js";
import * as core from "../../../../core/index.js";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../core/headers.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as YouVersionPlatform from "../../../index.js";

export declare namespace LanguagesClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

/**
 * Provides data about the languages supported by the YouVersion platform.  Use for presenting language options in your UI.
 */
export class LanguagesClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<LanguagesClient.Options>;

    constructor(options: LanguagesClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Get a collection of language objects. Add the Country parameter to filter to prominent languages for that country. Send an Accept-Language header to control which name is returned in each language's localized_name; the negotiated locale is echoed in the Content-Language response header. Each object's display_names map carries a name in every supported locale and is therefore large, so request fields[] without display_names (and use page_size) when you only need localized_name.
     *
     * @param {YouVersionPlatform.V1LanguagesCollectionGetRequest} request
     * @param {LanguagesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.languages.v1LanguagesCollectionGet({
     *         page_token: "eyJzdGFydF9hdCI6IDI2fQ==",
     *         country: "US"
     *     })
     */
    public v1LanguagesCollectionGet(
        request: YouVersionPlatform.V1LanguagesCollectionGetRequest = {},
        requestOptions?: LanguagesClient.RequestOptions,
    ): core.HttpResponsePromise<YouVersionPlatform.V1LanguagesCollectionGetResponse | undefined> {
        return core.HttpResponsePromise.fromPromise(this.__v1LanguagesCollectionGet(request, requestOptions));
    }

    private async __v1LanguagesCollectionGet(
        request: YouVersionPlatform.V1LanguagesCollectionGetRequest = {},
        requestOptions?: LanguagesClient.RequestOptions,
    ): Promise<core.WithRawResponse<YouVersionPlatform.V1LanguagesCollectionGetResponse | undefined>> {
        const {
            page_size: pageSize,
            "fields[]": fieldsArray,
            page_token: pageToken,
            country,
            bibles_available: biblesAvailable,
        } = request;
        const _queryParams: Record<string, unknown> = {
            page_size: pageSize != null ? pageSize : undefined,
            "fields[]": fieldsArray,
            page_token: pageToken,
            country,
            bibles_available: biblesAvailable,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            mergeOnlyDefinedHeaders({ "Accept-Language": "en" }),
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "X-YVP-App-Key": requestOptions?.yvpAppKey ?? this._options?.yvpAppKey,
            }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.YouVersionPlatformEnvironment.Default,
                "v1/languages",
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as YouVersionPlatform.V1LanguagesCollectionGetResponse | undefined,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.YouVersionPlatformError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/v1/languages");
    }

    /**
     * Get a single language resource by its BCP47 language code. Send an Accept-Language header to control which name is returned in localized_name; the negotiated locale is echoed in the Content-Language response header. The display_names map carries a name in every supported locale and is therefore large, so request fields[] without display_names when you only need localized_name.
     *
     * @param {YouVersionPlatform.V1LanguagesResourceGetRequest} request
     * @param {LanguagesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.languages.v1LanguagesResourceGet({
     *         language_id: "en"
     *     })
     */
    public v1LanguagesResourceGet(
        request: YouVersionPlatform.V1LanguagesResourceGetRequest,
        requestOptions?: LanguagesClient.RequestOptions,
    ): core.HttpResponsePromise<YouVersionPlatform.V1LanguagesResourceGetResponse> {
        return core.HttpResponsePromise.fromPromise(this.__v1LanguagesResourceGet(request, requestOptions));
    }

    private async __v1LanguagesResourceGet(
        request: YouVersionPlatform.V1LanguagesResourceGetRequest,
        requestOptions?: LanguagesClient.RequestOptions,
    ): Promise<core.WithRawResponse<YouVersionPlatform.V1LanguagesResourceGetResponse>> {
        const { language_id: languageId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            mergeOnlyDefinedHeaders({ "Accept-Language": "en" }),
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "X-YVP-App-Key": requestOptions?.yvpAppKey ?? this._options?.yvpAppKey,
            }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.YouVersionPlatformEnvironment.Default,
                `v1/languages/${core.url.encodePathParam(languageId)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as YouVersionPlatform.V1LanguagesResourceGetResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.YouVersionPlatformError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/v1/languages/{language_id}");
    }
}
