{
  "openapi": "3.0.3",
  "servers": [
    {
      "url": "https://api.youversion.com",
      "description": "Production API Gateway. Routes live traffic through a secure, highly-available endpoint.\nAll user requests are load-balanced and monitored to ensure optimal performance and uptime.\n"
    },
    {
      "url": "https://api-dev.youversion.com",
      "description": "Dev API Gateway.\n"
    }
  ],
  "info": {
    "description": "The API Gateway serves as a robust proxy layer for YouVersion platform services.  It\nstandardizes authentication, versioning, and error handling, simplifying the integration\nprocess for external developers implementing YouVersion services.\n\nApps can request user-granted permissions during the OAuth authorization flow by appending\n`requested_permissions=highlights` to `/auth/authorize`. Repeated values may also be sent as\n`requested_permissions[]=highlights`. When the user approves requested permissions, the OAuth\ncallback includes `granted_permissions` as a comma-separated list, for example\n`granted_permissions=highlights`. When permissions were requested but none were granted, the\ncallback includes `granted_permissions=` with an empty value. When no permissions were requested,\nthe `granted_permissions` callback parameter is omitted.\n",
    "version": "v1",
    "title": "YouVersion Platform API",
    "contact": {
      "name": "Platform Team"
    }
  },
  "security": [
    {
      "yvpAppKey": []
    }
  ],
  "tags": [
    {
      "name": "data exchange",
      "description": "Provides short-lived tokens and browser redirect flows for app data exchange.\n"
    },
    {
      "name": "bibles",
      "description": "Provides data about Bible versions and their content.  Use these endpoints to get passage text,\nas well as metadata about available Bibles and their structure.\n"
    },
    {
      "name": "fonts",
      "description": "Provides metadata for font families approved for Platform consumers. Use these endpoints to\ndiscover available families, variants, and CDN asset URLs.\n"
    },
    {
      "name": "highlights",
      "description": "Endpoints for managing user highlights on scripture passages.  Use these to list existing highlights,\ncreate new ones, update highlights, or clear highlights for verse ranges.\n"
    },
    {
      "name": "languages",
      "description": "Provides data about the languages supported by the YouVersion platform.  Use for presenting language options in your UI.\n"
    },
    {
      "name": "licenses",
      "description": "Provides data about licenses in the YouVersion platform.  These licenses are used by developers\nto get access to various types of content, e.g. Bibles.\n"
    },
    {
      "name": "permissions",
      "description": "Provides the permissions a user has granted to the calling app.\n"
    },
    {
      "name": "users",
      "description": "Provides authenticated user resources and settings.\n"
    },
    {
      "name": "organizations",
      "description": "Provides information about our publishing partners in the YouVersion platform.  Use these to get\ninformation about the organizations which provide Bible versions.\n"
    },
    {
      "name": "verse of the days",
      "description": "Get the daily YouVersion Bible verse selections for calendar days.  Get the full year's verse calendar, or\nget the verse for a specific day.\n"
    }
  ],
  "paths": {
    "/data-exchange": {
      "get": {
        "tags": [
          "data exchange"
        ],
        "summary": "Show the data exchange approval page.",
        "description": "Returns the browser-rendered data exchange approval page for a short-lived token. The app\nshould first create a token with `POST /data-exchange/token`, then open this URL in the\nuser's browser with the token and app context. The page lets the user review the requested\npermissions before approving or cancelling the exchange.\n",
        "security": [],
        "parameters": [
          {
            "in": "query",
            "name": "token",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Short-lived data exchange token created by `POST /data-exchange/token`."
          },
          {
            "in": "query",
            "name": "x-yvp-app-key",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Public app key used to resolve the app for direct browser flows."
          },
          {
            "in": "query",
            "name": "x-yvp-app-id",
            "required": false,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "App identifier used when a public app key is not supplied."
          }
        ],
        "responses": {
          "200": {
            "description": "Data exchange approval page rendered as HTML.",
            "content": {
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "303": {
            "description": "Redirects to the app callback when the flow cannot continue but a safe callback is known.",
            "headers": {
              "Location": {
                "description": "App callback URL with `data_exchange_status=error`, `error`, and\n`error_description` query parameters.\n",
                "schema": {
                  "type": "string",
                  "format": "uri"
                }
              }
            }
          },
          "400": {
            "description": "Missing token, invalid app context, or missing callback URL."
          },
          "401": {
            "description": "Invalid or expired data exchange token when no safe callback is available."
          }
        },
        "operationId": "data_exchange.approval_get"
      },
      "post": {
        "tags": [
          "data exchange"
        ],
        "summary": "Complete the data exchange approval flow.",
        "description": "Completes the browser approval flow and redirects the browser to the app's configured\ncallback URL. When approval succeeds, the callback receives\n`data_exchange_status=granted` and `granted_permissions`. When the user cancels from the\napproval page, the callback receives `data_exchange_status=cancelled`,\n`denied_permissions`, and `error=access_denied`. Recoverable errors after a safe callback\nis known redirect with `data_exchange_status=error`, `error`, and `error_description`.\n",
        "security": [],
        "parameters": [
          {
            "in": "query",
            "name": "token",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Short-lived data exchange token created by `POST /data-exchange/token`."
          },
          {
            "in": "query",
            "name": "x-yvp-app-key",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Public app key used to resolve the app when a token is not supplied."
          },
          {
            "in": "query",
            "name": "x-yvp-app-id",
            "required": false,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "App identifier used when a public app key is not supplied."
          },
          {
            "in": "header",
            "name": "Authorization",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Bearer access token used only by clients that complete the flow without a token."
          }
        ],
        "responses": {
          "303": {
            "description": "Redirects to the app callback URL with the data exchange result.",
            "headers": {
              "Location": {
                "description": "App callback URL. Successful redirects include `data_exchange_status=granted` and\n`granted_permissions`; cancelled redirects include `data_exchange_status=cancelled`,\n`denied_permissions`, and `error=access_denied`; recoverable error redirects\ninclude `data_exchange_status=error`, `error`, and `error_description`.\n",
                "schema": {
                  "type": "string",
                  "format": "uri"
                }
              }
            }
          },
          "400": {
            "description": "Missing or invalid app context, or missing callback URL."
          },
          "401": {
            "description": "Missing or invalid Authorization header when no token is supplied."
          },
          "404": {
            "description": "User not found when no safe callback is available."
          }
        },
        "operationId": "data_exchange.approval_post"
      }
    },
    "/data-exchange/token": {
      "post": {
        "tags": [
          "data exchange"
        ],
        "summary": "Create a data exchange token.",
        "description": "Creates a short-lived token that can be passed to the `/data-exchange` browser flow as a\nquery parameter. Send `requested_permissions` in the request body to declare which\npermissions the user should review during the browser flow. Tokens expire after five minutes\nand are consumed when the form is submitted.\n",
        "parameters": [
          {
            "in": "header",
            "name": "Authorization",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Bearer access token for the authenticated user."
          },
          {
            "in": "query",
            "name": "x-yvp-app-key",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Public app key used to resolve the app for direct browser flows."
          },
          {
            "in": "query",
            "name": "x-yvp-app-id",
            "required": false,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "App identifier used when a public app key is not supplied."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "requested_permissions": {
                    "type": "array",
                    "minItems": 1,
                    "items": {
                      "type": "string",
                      "enum": [
                        "highlights"
                      ]
                    },
                    "description": "Data exchange permissions the user should review in the browser flow."
                  }
                },
                "required": [
                  "requested_permissions"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Data exchange token created.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "token": {
                      "type": "string",
                      "description": "Opaque single-use token for the data exchange flow. Returned only once."
                    },
                    "token_type": {
                      "type": "string",
                      "enum": [
                        "data_exchange"
                      ],
                      "example": "data_exchange"
                    },
                    "expires_in": {
                      "type": "integer",
                      "format": "int32",
                      "example": 300,
                      "description": "Token lifetime in seconds."
                    }
                  },
                  "required": [
                    "token",
                    "token_type",
                    "expires_in"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Missing or invalid app context."
          },
          "401": {
            "description": "Missing or invalid Authorization header."
          },
          "404": {
            "description": "User not found."
          },
          "422": {
            "description": "Invalid request body."
          }
        },
        "operationId": "data_exchange.token_post"
      }
    },
    "/v1/bibles": {
      "get": {
        "summary": "Get a Bible collection",
        "description": "Retrieves a paginated list of Bible versions available.\nWhen multiple language_ranges parameters are specified, the set of Bibles returned will be from\nthe first language range which has available Bibles.\n",
        "operationId": "bibles.collection_get",
        "parameters": [
          {
            "name": "all_available",
            "in": "query",
            "required": false,
            "description": "This parameter is used on some collections to modify the resources returned. For example, it modifies whether all Bibles in the Platform should be included in the Bibles collection regardless of licensing of the provided app key. It modified the Licenses collection so that the response will include every license, regardless of whether the developer has agreed to it yet. The default for this field in all cases is false. If a developer wants to include all resources for a collection that implements this query parameter, the client must specifically pass it as true.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "language_ranges[]",
            "description": "An ordered list of language ranges using bracket notation. Use repeated parameters like `language_ranges[]=en&language_ranges[]=es` to supply multiple ranges, and use the wildcard * to match all languages. A language range is much like a language tag but may contain wildcards.  See RFC 4647 section 2 for the full definition: https://www.rfc-editor.org/rfc/rfc4647.html#section-2\nLanguage ranges in this parameter may only be of the Basic Range format.",
            "in": "query",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "example": "en",
                "pattern": "^([A-z]{1,8}([-_][0-9A-z]{1,8})*)$|^\\*$"
              }
            }
          },
          {
            "description": "Filter Bibles by a license identifier",
            "in": "query",
            "name": "license_id",
            "required": false,
            "schema": {
              "type": "integer",
              "example": 1
            }
          },
          {
            "name": "page_size",
            "description": "The number of items to return in the collection.  Numeric values must be between 1 and 99.\nSpecial value \"*\" is supported only when used in combination with the `fields` parameter and\nwhen the client requests three or fewer fields (see `fields` parameter). When \"*\" is used the\nserver will return all matching items for the requested resource (no numeric page limit).\n",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "integer",
                  "minimum": 1,
                  "maximum": 99,
                  "default": 25,
                  "example": 25
                },
                {
                  "type": "string",
                  "enum": [
                    "*"
                  ]
                }
              ]
            }
          },
          {
            "name": "fields[]",
            "in": "query",
            "required": false,
            "description": "A list of top-level fields to include in each resource object. Use bracket notation to pass\nmultiple values, for example: `fields[]=id&fields[]=name&fields[]=language`.\nWhen provided, `page_size=*` is allowed only if the number of fields requested is three (3) or fewer.\n",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "example": [
                "id",
                "name",
                "language"
              ]
            }
          },
          {
            "name": "page_token",
            "description": "The page token to retrieve results from.",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "example": "eyJzdGFydF9hdCI6IDI2fQ=="
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Indicates that the request was successful.  Returns a JSON array of Bible resources in the\nresponse body, each containing metadata about a specific translation.\n",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "description": "Bible version identifier",
                            "example": 3034,
                            "readOnly": true,
                            "type": "integer"
                          },
                          "abbreviation": {
                            "description": "Bible version abbreviation",
                            "example": "BSB",
                            "readOnly": true,
                            "type": "string"
                          },
                          "promotional_content": {
                            "description": "Longer form of copyright text provided by the publisher for the given Bible version.",
                            "example": "\"https://berean.bible/\"",
                            "readOnly": true,
                            "type": "string"
                          },
                          "copyright": {
                            "description": "Short version of the copyright text provided by the publisher for the given Bible version.",
                            "example": "\"The Holy Bible, Berean Standard Bible, BSB is produced in cooperation with Bible Hub, Discovery Bible, OpenBible.com, and the Berean Bible Translation Committee. This text of God's Word has been dedicated to the public domain.\"",
                            "readOnly": true,
                            "type": "string"
                          },
                          "info": {
                            "description": "Additional information about the Bible text version. This is commonly displayed in the reader footer for the Bible.",
                            "example": "The Holy Bible",
                            "readOnly": true,
                            "type": "string"
                          },
                          "publisher_url": {
                            "description": "URL to link to publisher page from the reader's footer",
                            "example": "",
                            "readOnly": true,
                            "type": "string"
                          },
                          "language_tag": {
                            "description": "BCP47 canonical language tag for this Bible version",
                            "example": "en",
                            "readOnly": true,
                            "type": "string"
                          },
                          "localized_abbreviation": {
                            "description": "Localized Bible version abbreviation",
                            "example": "BSB",
                            "readOnly": true,
                            "type": "string"
                          },
                          "localized_title": {
                            "description": "Localized title of Bible version",
                            "example": "English: Berean Standard Bible",
                            "readOnly": true,
                            "type": "string"
                          },
                          "title": {
                            "description": "English title of Bible version",
                            "example": "Berean Standard Bible",
                            "readOnly": true,
                            "type": "string"
                          },
                          "books": {
                            "items": {
                              "description": "An ordered book list for this Bible using the book ids.",
                              "type": "string"
                            },
                            "example": [
                              "GEN",
                              "EXO",
                              "LEV"
                            ],
                            "readOnly": true,
                            "type": "array"
                          },
                          "youversion_deep_link": {
                            "description": "A deep link to this Bible version inside YouVersion",
                            "example": "https://www.bible.com/versions/3034",
                            "readOnly": true,
                            "type": "string"
                          },
                          "organization_id": {
                            "type": "string",
                            "format": "uuid",
                            "example": "c3187cfe-a191-4088-9fb2-24c306d9eb38",
                            "nullable": true
                          }
                        }
                      },
                      "readOnly": true,
                      "type": "array"
                    },
                    "next_page_token": {
                      "description": "Token to send to server when retrieving the next page of results.",
                      "example": "eyJzdGFydF9hdCI6IDI2fQ==",
                      "readOnly": true,
                      "type": "string"
                    },
                    "total_size": {
                      "description": "Total number of bibles in collection matching parameters.",
                      "example": 42,
                      "format": "int32",
                      "type": "integer"
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            },
            "headers": {
              "Cache-Control": {
                "description": "Used to specify directives that MUST be obeyed by all caching mechanisms along the response chain. The directives specify behavior intended to prevent caches from adversely interfering with the response. These directives typically override the default caching algorithms.  It is measured in seconds. See RFC 2616 section 14.9 for more details.",
                "schema": {
                  "type": "string",
                  "example": "private, max-age=86400"
                }
              },
              "ETag": {
                "description": "Provides the current value of the entity tag for the requested variant. The entity tag *MAY* be used for comparison with other entities from the same resource. See RFC 2616 section 14.19 for further details.",
                "schema": {
                  "type": "string",
                  "example": "W/\"d665a3702eb5754bf850eaff889a8255\""
                }
              },
              "Vary": {
                "description": "The Vary field value indicates the set of request-header fields that fully determines, while the response is fresh, whether a cache is permitted to use the response to reply to a subsequent request without revalidation. For uncacheable or stale responses, the Vary field value advises the user agent about the criteria that were used to select the representation. A Vary field value of \"*\" implies that a cache cannot determine from the request headers of a subsequent request whether this response is the appropriate representation. See RFC 2616 section 13.6 for use of the Vary header field by caches.",
                "schema": {
                  "type": "string",
                  "example": "Accept, Accept-Encoding, Accept-Language"
                }
              }
            }
          },
          "204": {
            "description": "The request was successful but no Bibles matched the supplied parameters.  The response body\nwill be empty.\n"
          },
          "4XX": {
            "description": "There was an error with the client request.  Check the response body for details about invalid\nparameters or missing authentication.\n",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "Error message"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          },
          "5XX": {
            "description": "The server encountered an unexpected error while processing the request.  Please retry the request\nor contact support if the issue persists.\n"
          }
        },
        "tags": [
          "bibles"
        ]
      }
    },
    "/v1/bibles/{bible_id_path}": {
      "get": {
        "summary": "Get a Bible's data",
        "description": "Get a Bible resource for a single Bible version.\nThis does not include the Bible's text content; use the Passages endpoint for that.\n",
        "operationId": "bibles.resource_get",
        "parameters": [
          {
            "description": "The Bible version identifier",
            "in": "path",
            "name": "bible_id_path",
            "required": true,
            "schema": {
              "type": "integer",
              "default": 3034,
              "example": 3034,
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Indicates that the Bible resource was found and returned successfully.  The response body contains\na JSON object describing the requested translation in detail.\n",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "description": "Bible version identifier",
                      "example": 3034,
                      "readOnly": true,
                      "type": "integer"
                    },
                    "abbreviation": {
                      "description": "Bible version abbreviation",
                      "example": "BSB",
                      "readOnly": true,
                      "type": "string"
                    },
                    "promotional_content": {
                      "description": "Longer form of copyright text provided by the publisher for the given Bible version.",
                      "example": "\"https://berean.bible/\"",
                      "readOnly": true,
                      "type": "string"
                    },
                    "copyright": {
                      "description": "Short version of the copyright text provided by the publisher for the given Bible version.",
                      "example": "\"The Holy Bible, Berean Standard Bible, BSB is produced in cooperation with Bible Hub, Discovery Bible, OpenBible.com, and the Berean Bible Translation Committee. This text of God's Word has been dedicated to the public domain.\"",
                      "readOnly": true,
                      "type": "string"
                    },
                    "info": {
                      "description": "Additional information about the Bible text version. This is commonly displayed in the reader footer for the Bible.",
                      "example": "The Holy Bible",
                      "readOnly": true,
                      "type": "string"
                    },
                    "publisher_url": {
                      "description": "URL to link to publisher page from the reader's footer",
                      "example": "",
                      "readOnly": true,
                      "type": "string"
                    },
                    "language_tag": {
                      "description": "BCP47 canonical language tag for this Bible version",
                      "example": "en",
                      "readOnly": true,
                      "type": "string"
                    },
                    "localized_abbreviation": {
                      "description": "Localized Bible version abbreviation",
                      "example": "BSB",
                      "readOnly": true,
                      "type": "string"
                    },
                    "localized_title": {
                      "description": "Localized title of Bible version",
                      "example": "English: Berean Standard Bible",
                      "readOnly": true,
                      "type": "string"
                    },
                    "title": {
                      "description": "English title of Bible version",
                      "example": "Berean Standard Bible",
                      "readOnly": true,
                      "type": "string"
                    },
                    "books": {
                      "items": {
                        "description": "An ordered book list for this Bible using the book ids.",
                        "type": "string"
                      },
                      "example": [
                        "GEN",
                        "EXO",
                        "LEV"
                      ],
                      "readOnly": true,
                      "type": "array"
                    },
                    "youversion_deep_link": {
                      "description": "A deep link to this Bible version inside YouVersion",
                      "example": "https://www.bible.com/versions/3034",
                      "readOnly": true,
                      "type": "string"
                    },
                    "organization_id": {
                      "type": "string",
                      "format": "uuid",
                      "example": "c3187cfe-a191-4088-9fb2-24c306d9eb38",
                      "nullable": true
                    }
                  }
                }
              }
            },
            "headers": {
              "Cache-Control": {
                "description": "Used to specify directives that MUST be obeyed by all caching mechanisms along the response chain. The directives specify behavior intended to prevent caches from adversely interfering with the response. These directives typically override the default caching algorithms.  It is measured in seconds. See RFC 2616 section 14.9 for more details.",
                "schema": {
                  "type": "string",
                  "example": "private, max-age=86400"
                }
              },
              "ETag": {
                "description": "Provides the current value of the entity tag for the requested variant. The entity tag *MAY* be used for comparison with other entities from the same resource. See RFC 2616 section 14.19 for further details.",
                "schema": {
                  "type": "string",
                  "example": "W/\"d665a3702eb5754bf850eaff889a8255\""
                }
              },
              "Vary": {
                "description": "The Vary field value indicates the set of request-header fields that fully determines, while the response is fresh, whether a cache is permitted to use the response to reply to a subsequent request without revalidation. For uncacheable or stale responses, the Vary field value advises the user agent about the criteria that were used to select the representation. A Vary field value of \"*\" implies that a cache cannot determine from the request headers of a subsequent request whether this response is the appropriate representation. See RFC 2616 section 13.6 for use of the Vary header field by caches.",
                "schema": {
                  "type": "string",
                  "example": "Accept, Accept-Encoding, Accept-Language"
                }
              }
            }
          },
          "4XX": {
            "description": "The client request was invalid or the specified Bible ID does not exist.  Review the error payload\nfor guidance on correcting the request.\n",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "Error message"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          },
          "5XX": {
            "description": "An unexpected server error occurred while retrieving the Bible resource.  Retry the request or\ncontact support if the issue continues.\n"
          }
        },
        "tags": [
          "bibles"
        ]
      }
    },
    "/v1/bibles/{bible_id_path}/index": {
      "get": {
        "summary": "Get the index for a Bible",
        "description": "Retrieves the indexing structure for the specified Bible version.  This includes the full hierarchy of\nbooks, chapters, and verse counts.\n",
        "operationId": "bibles_index.collection_get",
        "parameters": [
          {
            "description": "The Bible version identifier",
            "in": "path",
            "name": "bible_id_path",
            "required": true,
            "schema": {
              "type": "integer",
              "default": 3034,
              "example": 3034,
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The index resource was returned successfully.  You will receive a JSON object detailing the\norganization of books, chapters, and verse counts for the requested Bible version.\n",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "text_direction": {
                      "type": "string",
                      "example": "ltr"
                    },
                    "books": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "description": "Book identifier",
                            "type": "string",
                            "example": "GEN"
                          },
                          "title": {
                            "description": "Book title",
                            "type": "string",
                            "example": "Genesis"
                          },
                          "full_title": {
                            "description": "Full book title if available",
                            "type": "string",
                            "example": "The Book of Genesis"
                          },
                          "abbreviation": {
                            "description": "Book name abbreviation if provided by the publisher",
                            "type": "string",
                            "example": "Gen."
                          },
                          "canon": {
                            "description": "Canon identifier",
                            "enum": [
                              "new_testament",
                              "old_testament",
                              "deuterocanon"
                            ],
                            "type": "string",
                            "example": "old_testament"
                          },
                          "chapters": {
                            "description": "Chapters in the book",
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "id": {
                                  "description": "Chapter identifier",
                                  "type": "string",
                                  "example": 1
                                },
                                "passage_id": {
                                  "description": "Passage identifier",
                                  "type": "string",
                                  "example": "GEN.1"
                                },
                                "title": {
                                  "description": "Chapter title",
                                  "type": "string",
                                  "example": 1
                                },
                                "verses": {
                                  "description": "Verses in the chapter",
                                  "type": "array",
                                  "items": {
                                    "type": "object",
                                    "properties": {
                                      "id": {
                                        "description": "Verse identifier",
                                        "type": "string",
                                        "example": 1
                                      },
                                      "passage_id": {
                                        "description": "Passage identifier",
                                        "type": "string",
                                        "example": "GEN.1.1"
                                      },
                                      "title": {
                                        "description": "Verse title",
                                        "type": "string",
                                        "example": 1
                                      }
                                    }
                                  }
                                }
                              }
                            }
                          },
                          "intro": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "description": "Intro identifier",
                                "type": "string",
                                "example": "INTRO"
                              },
                              "passage_id": {
                                "description": "Passage identifier",
                                "type": "string",
                                "example": "GEN.INTRO"
                              },
                              "title": {
                                "description": "Intro title",
                                "type": "string",
                                "example": "Intro"
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            },
            "headers": {
              "Cache-Control": {
                "description": "Used to specify directives that MUST be obeyed by all caching mechanisms along the response chain. The directives specify behavior intended to prevent caches from adversely interfering with the response. These directives typically override the default caching algorithms.  It is measured in seconds. See RFC 2616 section 14.9 for more details.",
                "schema": {
                  "type": "string",
                  "example": "private, max-age=86400"
                }
              },
              "ETag": {
                "description": "Provides the current value of the entity tag for the requested variant. The entity tag *MAY* be used for comparison with other entities from the same resource. See RFC 2616 section 14.19 for further details.",
                "schema": {
                  "type": "string",
                  "example": "W/\"d665a3702eb5754bf850eaff889a8255\""
                }
              },
              "Vary": {
                "description": "The Vary field value indicates the set of request-header fields that fully determines, while the response is fresh, whether a cache is permitted to use the response to reply to a subsequent request without revalidation. For uncacheable or stale responses, the Vary field value advises the user agent about the criteria that were used to select the representation. A Vary field value of \"*\" implies that a cache cannot determine from the request headers of a subsequent request whether this response is the appropriate representation. See RFC 2616 section 13.6 for use of the Vary header field by caches.",
                "schema": {
                  "type": "string",
                  "example": "Accept, Accept-Encoding, Accept-Language"
                }
              }
            }
          },
          "4XX": {
            "description": "The client request was malformed or the specified Bible version ID is invalid.  Check the error\nobject for more details.\n",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "Error message"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          },
          "5XX": {
            "description": "The server failed to build the index resource due to an internal error.  Please retry or contact support.\n"
          }
        },
        "tags": [
          "bibles"
        ]
      }
    },
    "/v1/bibles/{bible_id_path}/passages/{passage_id_path}": {
      "get": {
        "summary": "Get a passage of Bible text",
        "description": "Returns the specified scripture passage in the requested format. Headings and\nnotes may be included via query parameters, but only when format=html. They\nare omitted when format=text. The response includes content text and metadata\nsuch as verse ranges and formatting details.\n",
        "operationId": "bibles_passages.resource_get",
        "parameters": [
          {
            "name": "format",
            "description": "The desired Bible content format (text or html). Headings and notes are included only when format=html; format=text returns verse text without them.",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "text",
                "html"
              ],
              "default": "text"
            }
          },
          {
            "name": "include_headings",
            "description": "Whether or not headings should be included in the Bible content. Headings are returned only when format=html; they are omitted when format=text. The default for this field is false unless the reference is a chapter or introduction (GEN.1 or GEN.INTRO1) in which case it would be true.",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "include_notes",
            "description": "Whether or not notes should be included in the Bible content. Notes are returned only when format=html; they are omitted when format=text. The default for this field is false unless the reference is a chapter or introduction (GEN.1 or GEN.INTRO1) in which case it would be true.",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "description": "The passage identifier (verse or chapter USFM format)",
            "in": "path",
            "name": "passage_id_path",
            "required": true,
            "schema": {
              "type": "string",
              "default": "JHN.3.16",
              "example": "MAT.1.1"
            }
          },
          {
            "description": "The Bible version identifier",
            "in": "path",
            "name": "bible_id_path",
            "required": true,
            "schema": {
              "type": "integer",
              "default": 3034,
              "example": 3034,
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The passage was retrieved successfully in the desired format. The response\nbody contains a JSON object with verse text and formatting metadata.\nOptional headings and notes are present only when format=html.\n",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "description": "A canonical representation of the passage returned",
                      "example": "MAT.1.1",
                      "readOnly": true,
                      "type": "string"
                    },
                    "content": {
                      "description": "The Bible text of the requested passage in either text or html format.",
                      "example": "The book of the genealogy of Jesus Christ, the son of David, the son of Abraham.",
                      "readOnly": true,
                      "type": "string"
                    },
                    "reference": {
                      "description": "A human-readable reference",
                      "example": "Matthew 1:1",
                      "readOnly": true,
                      "type": "string"
                    }
                  }
                }
              }
            },
            "headers": {
              "Cache-Control": {
                "description": "Used to specify directives that MUST be obeyed by all caching mechanisms along the response chain. The directives specify behavior intended to prevent caches from adversely interfering with the response. These directives typically override the default caching algorithms.  It is measured in seconds. See RFC 2616 section 14.9 for more details.",
                "schema": {
                  "type": "string",
                  "example": "private, max-age=86400"
                }
              },
              "Content-Language": {
                "description": "The localization used to serve the request. This is negotiated from the contents of the Accept-Language header, but falls back to `en` if a requested language can't be accommodated. See RFC 2616 section 14.12 for further details.",
                "schema": {
                  "type": "string",
                  "example": "en"
                }
              },
              "ETag": {
                "description": "Provides the current value of the entity tag for the requested variant. The entity tag *MAY* be used for comparison with other entities from the same resource. See RFC 2616 section 14.19 for further details.",
                "schema": {
                  "type": "string",
                  "example": "W/\"d665a3702eb5754bf850eaff889a8255\""
                }
              },
              "Vary": {
                "description": "The Vary field value indicates the set of request-header fields that fully determines, while the response is fresh, whether a cache is permitted to use the response to reply to a subsequent request without revalidation. For uncacheable or stale responses, the Vary field value advises the user agent about the criteria that were used to select the representation. A Vary field value of \"*\" implies that a cache cannot determine from the request headers of a subsequent request whether this response is the appropriate representation. See RFC 2616 section 13.6 for use of the Vary header field by caches.",
                "schema": {
                  "type": "string",
                  "example": "Accept, Accept-Encoding, Accept-Language"
                }
              }
            }
          },
          "4XX": {
            "description": "The request was invalid or required parameters were missing.  Consult the error\nresponse for guidance on correcting the query.\n",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "Error message"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          },
          "5XX": {
            "description": "An internal server error prevented the passage from being returned.  Retry later or contact support.\n"
          }
        },
        "tags": [
          "bibles"
        ]
      }
    },
    "/v1/bibles/{bible_id_path}/books": {
      "get": {
        "summary": "Get a Book collection for a Bible",
        "description": "Retrieves the list of books (e.g. Genesis, Exodus) for the specified Bible version.\n",
        "operationId": "bibles_books.collection_get",
        "parameters": [
          {
            "description": "The Canon to filter results by",
            "in": "query",
            "name": "canon",
            "required": false,
            "schema": {
              "enum": [
                "new_testament",
                "old_testament",
                "deuterocanon"
              ],
              "example": "new_testament",
              "type": "string"
            }
          },
          {
            "description": "The Bible version identifier",
            "in": "path",
            "name": "bible_id_path",
            "required": true,
            "schema": {
              "type": "integer",
              "default": 3034,
              "example": 3034,
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The collection of books was returned successfully.  The JSON array in the response body details\nbook identifiers, names, and order within the Bible version.\n",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "description": "Book identifier",
                            "type": "string",
                            "example": "GEN"
                          },
                          "title": {
                            "description": "Book title",
                            "type": "string",
                            "example": "Genesis"
                          },
                          "full_title": {
                            "description": "Full book title if available",
                            "type": "string",
                            "example": "The Book of Genesis"
                          },
                          "abbreviation": {
                            "description": "Book name abbreviation if provided by the publisher",
                            "type": "string",
                            "example": "Gen."
                          },
                          "canon": {
                            "description": "Canon identifier",
                            "enum": [
                              "new_testament",
                              "old_testament",
                              "deuterocanon"
                            ],
                            "type": "string",
                            "example": "old_testament"
                          },
                          "chapters": {
                            "description": "Chapters in the book",
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "id": {
                                  "description": "Chapter identifier",
                                  "type": "string",
                                  "example": 1
                                },
                                "passage_id": {
                                  "description": "Passage identifier",
                                  "type": "string",
                                  "example": "GEN.1"
                                },
                                "title": {
                                  "description": "Chapter title",
                                  "type": "string",
                                  "example": 1
                                },
                                "verses": {
                                  "description": "Verses in the chapter",
                                  "type": "array",
                                  "items": {
                                    "type": "object",
                                    "properties": {
                                      "id": {
                                        "description": "Verse identifier",
                                        "type": "string",
                                        "example": 1
                                      },
                                      "passage_id": {
                                        "description": "Passage identifier",
                                        "type": "string",
                                        "example": "GEN.1.1"
                                      },
                                      "title": {
                                        "description": "Verse title",
                                        "type": "string",
                                        "example": 1
                                      }
                                    }
                                  }
                                }
                              }
                            }
                          },
                          "intro": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "description": "Intro identifier",
                                "type": "string",
                                "example": "INTRO"
                              },
                              "passage_id": {
                                "description": "Passage identifier",
                                "type": "string",
                                "example": "GEN.INTRO"
                              },
                              "title": {
                                "description": "Intro title",
                                "type": "string",
                                "example": "Intro"
                              }
                            }
                          }
                        }
                      },
                      "readOnly": true,
                      "type": "array"
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            },
            "headers": {
              "Cache-Control": {
                "description": "Used to specify directives that MUST be obeyed by all caching mechanisms along the response chain. The directives specify behavior intended to prevent caches from adversely interfering with the response. These directives typically override the default caching algorithms.  It is measured in seconds. See RFC 2616 section 14.9 for more details.",
                "schema": {
                  "type": "string",
                  "example": "private, max-age=86400"
                }
              },
              "ETag": {
                "description": "Provides the current value of the entity tag for the requested variant. The entity tag *MAY* be used for comparison with other entities from the same resource. See RFC 2616 section 14.19 for further details.",
                "schema": {
                  "type": "string",
                  "example": "W/\"d665a3702eb5754bf850eaff889a8255\""
                }
              },
              "Vary": {
                "description": "The Vary field value indicates the set of request-header fields that fully determines, while the response is fresh, whether a cache is permitted to use the response to reply to a subsequent request without revalidation. For uncacheable or stale responses, the Vary field value advises the user agent about the criteria that were used to select the representation. A Vary field value of \"*\" implies that a cache cannot determine from the request headers of a subsequent request whether this response is the appropriate representation. See RFC 2616 section 13.6 for use of the Vary header field by caches.",
                "schema": {
                  "type": "string",
                  "example": "Accept, Accept-Encoding, Accept-Language"
                }
              }
            }
          },
          "204": {
            "description": "No data associated with given parameters"
          },
          "4XX": {
            "description": "Client error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "Error message"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          },
          "5XX": {
            "description": "Server error"
          }
        },
        "tags": [
          "bibles"
        ]
      }
    },
    "/v1/bibles/{bible_id_path}/books/{book_id}": {
      "get": {
        "summary": "Get a Book's data",
        "description": "Get a Book resource. This does not include the text content; use the Passages endpoint for that.",
        "operationId": "bibles_books.resource_get",
        "parameters": [
          {
            "description": "The Bible version identifier",
            "in": "path",
            "name": "bible_id_path",
            "required": true,
            "schema": {
              "type": "integer",
              "default": 3034,
              "example": 3034,
              "format": "int32"
            }
          },
          {
            "description": "The Bible Book identifier which is commonly the first 3 characters of the USFM reference",
            "in": "path",
            "name": "book_id",
            "required": true,
            "schema": {
              "type": "string",
              "default": "GEN",
              "example": "MAT",
              "minLength": 3,
              "maxLength": 3
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "description": "Book identifier",
                      "type": "string",
                      "example": "GEN"
                    },
                    "title": {
                      "description": "Book title",
                      "type": "string",
                      "example": "Genesis"
                    },
                    "full_title": {
                      "description": "Full book title if available",
                      "type": "string",
                      "example": "The Book of Genesis"
                    },
                    "abbreviation": {
                      "description": "Book name abbreviation if provided by the publisher",
                      "type": "string",
                      "example": "Gen."
                    },
                    "canon": {
                      "description": "Canon identifier",
                      "enum": [
                        "new_testament",
                        "old_testament",
                        "deuterocanon"
                      ],
                      "type": "string",
                      "example": "old_testament"
                    },
                    "chapters": {
                      "description": "Chapters in the book",
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "description": "Chapter identifier",
                            "type": "string",
                            "example": 1
                          },
                          "passage_id": {
                            "description": "Passage identifier",
                            "type": "string",
                            "example": "GEN.1"
                          },
                          "title": {
                            "description": "Chapter title",
                            "type": "string",
                            "example": 1
                          },
                          "verses": {
                            "description": "Verses in the chapter",
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "id": {
                                  "description": "Verse identifier",
                                  "type": "string",
                                  "example": 1
                                },
                                "passage_id": {
                                  "description": "Passage identifier",
                                  "type": "string",
                                  "example": "GEN.1.1"
                                },
                                "title": {
                                  "description": "Verse title",
                                  "type": "string",
                                  "example": 1
                                }
                              }
                            }
                          }
                        }
                      }
                    },
                    "intro": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "description": "Intro identifier",
                          "type": "string",
                          "example": "INTRO"
                        },
                        "passage_id": {
                          "description": "Passage identifier",
                          "type": "string",
                          "example": "GEN.INTRO"
                        },
                        "title": {
                          "description": "Intro title",
                          "type": "string",
                          "example": "Intro"
                        }
                      }
                    }
                  }
                }
              }
            },
            "headers": {
              "Cache-Control": {
                "description": "Used to specify directives that MUST be obeyed by all caching mechanisms along the response chain. The directives specify behavior intended to prevent caches from adversely interfering with the response. These directives typically override the default caching algorithms.  It is measured in seconds. See RFC 2616 section 14.9 for more details.",
                "schema": {
                  "type": "string",
                  "example": "private, max-age=86400"
                }
              },
              "ETag": {
                "description": "Provides the current value of the entity tag for the requested variant. The entity tag *MAY* be used for comparison with other entities from the same resource. See RFC 2616 section 14.19 for further details.",
                "schema": {
                  "type": "string",
                  "example": "W/\"d665a3702eb5754bf850eaff889a8255\""
                }
              },
              "Vary": {
                "description": "The Vary field value indicates the set of request-header fields that fully determines, while the response is fresh, whether a cache is permitted to use the response to reply to a subsequent request without revalidation. For uncacheable or stale responses, the Vary field value advises the user agent about the criteria that were used to select the representation. A Vary field value of \"*\" implies that a cache cannot determine from the request headers of a subsequent request whether this response is the appropriate representation. See RFC 2616 section 13.6 for use of the Vary header field by caches.",
                "schema": {
                  "type": "string",
                  "example": "Accept, Accept-Encoding, Accept-Language"
                }
              }
            }
          },
          "4XX": {
            "description": "Client error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "Error message"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          },
          "5XX": {
            "description": "Server error"
          }
        },
        "tags": [
          "bibles"
        ]
      }
    },
    "/v1/bibles/{bible_id_path}/books/{book_id}/chapters": {
      "get": {
        "summary": "Get a Chapter collection for a Book",
        "description": "Get a collection of Chapters for the given Bible and Book",
        "operationId": "bibles_books_chapters.collection_get",
        "parameters": [
          {
            "description": "The Bible version identifier",
            "in": "path",
            "name": "bible_id_path",
            "required": true,
            "schema": {
              "type": "integer",
              "default": 3034,
              "example": 3034,
              "format": "int32"
            }
          },
          {
            "description": "The Bible Book identifier which is commonly the first 3 characters of the USFM reference",
            "in": "path",
            "name": "book_id",
            "required": true,
            "schema": {
              "type": "string",
              "default": "GEN",
              "example": "MAT",
              "minLength": 3,
              "maxLength": 3
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "description": "Chapter identifier",
                            "type": "string",
                            "example": 1
                          },
                          "passage_id": {
                            "description": "Passage identifier",
                            "type": "string",
                            "example": "GEN.1"
                          },
                          "title": {
                            "description": "Chapter title",
                            "type": "string",
                            "example": 1
                          },
                          "verses": {
                            "description": "Verses in the chapter",
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "id": {
                                  "description": "Verse identifier",
                                  "type": "string",
                                  "example": 1
                                },
                                "passage_id": {
                                  "description": "Passage identifier",
                                  "type": "string",
                                  "example": "GEN.1.1"
                                },
                                "title": {
                                  "description": "Verse title",
                                  "type": "string",
                                  "example": 1
                                }
                              }
                            }
                          }
                        }
                      },
                      "readOnly": true
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            },
            "headers": {
              "Cache-Control": {
                "description": "Used to specify directives that MUST be obeyed by all caching mechanisms along the response chain. The directives specify behavior intended to prevent caches from adversely interfering with the response. These directives typically override the default caching algorithms.  It is measured in seconds. See RFC 2616 section 14.9 for more details.",
                "schema": {
                  "type": "string",
                  "example": "private, max-age=86400"
                }
              },
              "ETag": {
                "description": "Provides the current value of the entity tag for the requested variant. The entity tag *MAY* be used for comparison with other entities from the same resource. See RFC 2616 section 14.19 for further details.",
                "schema": {
                  "type": "string",
                  "example": "W/\"d665a3702eb5754bf850eaff889a8255\""
                }
              },
              "Vary": {
                "description": "The Vary field value indicates the set of request-header fields that fully determines, while the response is fresh, whether a cache is permitted to use the response to reply to a subsequent request without revalidation. For uncacheable or stale responses, the Vary field value advises the user agent about the criteria that were used to select the representation. A Vary field value of \"*\" implies that a cache cannot determine from the request headers of a subsequent request whether this response is the appropriate representation. See RFC 2616 section 13.6 for use of the Vary header field by caches.",
                "schema": {
                  "type": "string",
                  "example": "Accept, Accept-Encoding, Accept-Language"
                }
              }
            }
          },
          "204": {
            "description": "No data associated with given parameters"
          },
          "4XX": {
            "description": "Client error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "Error message"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          },
          "5XX": {
            "description": "Server error"
          }
        },
        "tags": [
          "bibles"
        ]
      }
    },
    "/v1/bibles/{bible_id_path}/books/{book_id}/chapters/{chapter_id}": {
      "get": {
        "summary": "Get a Chapter's data",
        "description": "Get a Chapter resource. This does not include the text content; use the Passages endpoint for that.",
        "operationId": "bibles_books_chapters.resource_get",
        "parameters": [
          {
            "description": "The Bible version identifier",
            "in": "path",
            "name": "bible_id_path",
            "required": true,
            "schema": {
              "type": "integer",
              "default": 3034,
              "example": 3034,
              "format": "int32"
            }
          },
          {
            "description": "The Bible Book identifier which is commonly the first 3 characters of the USFM reference",
            "in": "path",
            "name": "book_id",
            "required": true,
            "schema": {
              "type": "string",
              "default": "GEN",
              "example": "MAT",
              "minLength": 3,
              "maxLength": 3
            }
          },
          {
            "description": "The Bible Chapter identifier which is part of the USFM reference.",
            "in": "path",
            "name": "chapter_id",
            "required": true,
            "schema": {
              "type": "string",
              "example": 1,
              "minLength": 1,
              "maxLength": 7
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "description": "Chapter identifier",
                      "type": "string",
                      "example": 1
                    },
                    "passage_id": {
                      "description": "Passage identifier",
                      "type": "string",
                      "example": "GEN.1"
                    },
                    "title": {
                      "description": "Chapter title",
                      "type": "string",
                      "example": 1
                    },
                    "verses": {
                      "description": "Verses in the chapter",
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "description": "Verse identifier",
                            "type": "string",
                            "example": 1
                          },
                          "passage_id": {
                            "description": "Passage identifier",
                            "type": "string",
                            "example": "GEN.1.1"
                          },
                          "title": {
                            "description": "Verse title",
                            "type": "string",
                            "example": 1
                          }
                        }
                      }
                    }
                  }
                }
              }
            },
            "headers": {
              "Cache-Control": {
                "description": "Used to specify directives that MUST be obeyed by all caching mechanisms along the response chain. The directives specify behavior intended to prevent caches from adversely interfering with the response. These directives typically override the default caching algorithms.  It is measured in seconds. See RFC 2616 section 14.9 for more details.",
                "schema": {
                  "type": "string",
                  "example": "private, max-age=86400"
                }
              },
              "ETag": {
                "description": "Provides the current value of the entity tag for the requested variant. The entity tag *MAY* be used for comparison with other entities from the same resource. See RFC 2616 section 14.19 for further details.",
                "schema": {
                  "type": "string",
                  "example": "W/\"d665a3702eb5754bf850eaff889a8255\""
                }
              },
              "Vary": {
                "description": "The Vary field value indicates the set of request-header fields that fully determines, while the response is fresh, whether a cache is permitted to use the response to reply to a subsequent request without revalidation. For uncacheable or stale responses, the Vary field value advises the user agent about the criteria that were used to select the representation. A Vary field value of \"*\" implies that a cache cannot determine from the request headers of a subsequent request whether this response is the appropriate representation. See RFC 2616 section 13.6 for use of the Vary header field by caches.",
                "schema": {
                  "type": "string",
                  "example": "Accept, Accept-Encoding, Accept-Language"
                }
              }
            }
          },
          "4XX": {
            "description": "Client error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "Error message"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          },
          "5XX": {
            "description": "Server error"
          }
        },
        "tags": [
          "bibles"
        ]
      }
    },
    "/v1/bibles/{bible_id_path}/books/{book_id}/chapters/{chapter_id}/verses": {
      "get": {
        "summary": "Get a Verse collection for a Chapter",
        "description": "Get a collection of Verses for a Chapter.",
        "operationId": "bibles_books_chapters_verses.collection_get",
        "parameters": [
          {
            "description": "The Bible version identifier",
            "in": "path",
            "name": "bible_id_path",
            "required": true,
            "schema": {
              "type": "integer",
              "default": 3034,
              "example": 3034,
              "format": "int32"
            }
          },
          {
            "description": "The Bible Book identifier which is commonly the first 3 characters of the USFM reference",
            "in": "path",
            "name": "book_id",
            "required": true,
            "schema": {
              "type": "string",
              "default": "GEN",
              "example": "MAT",
              "minLength": 3,
              "maxLength": 3
            }
          },
          {
            "description": "The Bible Chapter identifier which is part of the USFM reference.",
            "in": "path",
            "name": "chapter_id",
            "required": true,
            "schema": {
              "type": "string",
              "example": 1,
              "minLength": 1,
              "maxLength": 7
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "description": "Verse identifier",
                            "type": "string",
                            "example": 1
                          },
                          "passage_id": {
                            "description": "Passage identifier",
                            "type": "string",
                            "example": "GEN.1.1"
                          },
                          "title": {
                            "description": "Verse title",
                            "type": "string",
                            "example": 1
                          }
                        }
                      },
                      "readOnly": true
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            },
            "headers": {
              "Cache-Control": {
                "description": "Used to specify directives that MUST be obeyed by all caching mechanisms along the response chain. The directives specify behavior intended to prevent caches from adversely interfering with the response. These directives typically override the default caching algorithms.  It is measured in seconds. See RFC 2616 section 14.9 for more details.",
                "schema": {
                  "type": "string",
                  "example": "private, max-age=86400"
                }
              },
              "ETag": {
                "description": "Provides the current value of the entity tag for the requested variant. The entity tag *MAY* be used for comparison with other entities from the same resource. See RFC 2616 section 14.19 for further details.",
                "schema": {
                  "type": "string",
                  "example": "W/\"d665a3702eb5754bf850eaff889a8255\""
                }
              },
              "Vary": {
                "description": "The Vary field value indicates the set of request-header fields that fully determines, while the response is fresh, whether a cache is permitted to use the response to reply to a subsequent request without revalidation. For uncacheable or stale responses, the Vary field value advises the user agent about the criteria that were used to select the representation. A Vary field value of \"*\" implies that a cache cannot determine from the request headers of a subsequent request whether this response is the appropriate representation. See RFC 2616 section 13.6 for use of the Vary header field by caches.",
                "schema": {
                  "type": "string",
                  "example": "Accept, Accept-Encoding, Accept-Language"
                }
              }
            }
          },
          "204": {
            "description": "No data associated with given parameters"
          },
          "4XX": {
            "description": "Client error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "Error message"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          },
          "5XX": {
            "description": "Server error"
          }
        },
        "tags": [
          "bibles"
        ]
      }
    },
    "/v1/bibles/{bible_id_path}/books/{book_id}/chapters/{chapter_id}/verses/{verse_id}": {
      "get": {
        "summary": "Get a Verse's data",
        "description": "Get a Verse resource. This does not include the text content; use the Passages endpoint for that.",
        "operationId": "bibles_books_chapters_verses.resource_get",
        "parameters": [
          {
            "description": "The Bible version identifier",
            "in": "path",
            "name": "bible_id_path",
            "required": true,
            "schema": {
              "type": "integer",
              "default": 3034,
              "example": 3034,
              "format": "int32"
            }
          },
          {
            "description": "The Bible Book identifier which is commonly the first 3 characters of the USFM reference",
            "in": "path",
            "name": "book_id",
            "required": true,
            "schema": {
              "type": "string",
              "default": "GEN",
              "example": "MAT",
              "minLength": 3,
              "maxLength": 3
            }
          },
          {
            "description": "The Bible Chapter identifier which is part of the USFM reference.",
            "in": "path",
            "name": "chapter_id",
            "required": true,
            "schema": {
              "type": "string",
              "example": 1,
              "minLength": 1,
              "maxLength": 7
            }
          },
          {
            "description": "The Bible Verse identifier pulled from part of the USFM reference",
            "in": "path",
            "name": "verse_id",
            "required": true,
            "schema": {
              "type": "string",
              "example": 1,
              "minLength": 1,
              "maxLength": 7
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "description": "Verse identifier",
                      "type": "string",
                      "example": 1
                    },
                    "passage_id": {
                      "description": "Passage identifier",
                      "type": "string",
                      "example": "GEN.1.1"
                    },
                    "title": {
                      "description": "Verse title",
                      "type": "string",
                      "example": 1
                    }
                  }
                }
              }
            },
            "headers": {
              "Cache-Control": {
                "description": "Used to specify directives that MUST be obeyed by all caching mechanisms along the response chain. The directives specify behavior intended to prevent caches from adversely interfering with the response. These directives typically override the default caching algorithms.  It is measured in seconds. See RFC 2616 section 14.9 for more details.",
                "schema": {
                  "type": "string",
                  "example": "private, max-age=86400"
                }
              },
              "ETag": {
                "description": "Provides the current value of the entity tag for the requested variant. The entity tag *MAY* be used for comparison with other entities from the same resource. See RFC 2616 section 14.19 for further details.",
                "schema": {
                  "type": "string",
                  "example": "W/\"d665a3702eb5754bf850eaff889a8255\""
                }
              },
              "Vary": {
                "description": "The Vary field value indicates the set of request-header fields that fully determines, while the response is fresh, whether a cache is permitted to use the response to reply to a subsequent request without revalidation. For uncacheable or stale responses, the Vary field value advises the user agent about the criteria that were used to select the representation. A Vary field value of \"*\" implies that a cache cannot determine from the request headers of a subsequent request whether this response is the appropriate representation. See RFC 2616 section 13.6 for use of the Vary header field by caches.",
                "schema": {
                  "type": "string",
                  "example": "Accept, Accept-Encoding, Accept-Language"
                }
              }
            }
          },
          "4XX": {
            "description": "Client error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "Error message"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          },
          "5XX": {
            "description": "Server error"
          }
        },
        "tags": [
          "bibles"
        ]
      }
    },
    "/v1/highlights": {
      "get": {
        "summary": "Get a collection of highlights for a user.",
        "description": "The response will return a color per verse without ranges.",
        "operationId": "v1.highlights.collection_get",
        "parameters": [
          {
            "description": "The Bible version identifier",
            "in": "query",
            "name": "bible_id",
            "required": true,
            "schema": {
              "type": "integer",
              "example": 3034,
              "format": "int32"
            }
          },
          {
            "description": "The passage identifier (verse or chapter USFM format)",
            "in": "query",
            "name": "passage_id",
            "required": true,
            "schema": {
              "type": "string",
              "example": "MAT.1.1"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "items": {
                        "type": "object",
                        "properties": {
                          "bible_id": {
                            "description": "Bible version identifier",
                            "example": 3034,
                            "type": "integer",
                            "format": "int32"
                          },
                          "passage_id": {
                            "description": "The passage identifier (verse USFM format)",
                            "example": "MAT.1.1",
                            "type": "string"
                          },
                          "color": {
                            "description": "The highlight color in hex format",
                            "example": "44aa44",
                            "type": "string",
                            "pattern": "^[0-9a-f]{6}$"
                          }
                        },
                        "required": [
                          "bible_id",
                          "passage_id",
                          "color"
                        ]
                      },
                      "readOnly": true,
                      "type": "array"
                    }
                  }
                }
              }
            },
            "headers": {
              "Cache-Control": {
                "description": "Used to specify directives that MUST be obeyed by all caching mechanisms along the response chain. The directives specify behavior intended to prevent caches from adversely interfering with the response. These directives typically override the default caching algorithms.  It is measured in seconds. See RFC 2616 section 14.9 for more details.",
                "schema": {
                  "type": "string",
                  "example": "private, max-age=86400"
                }
              },
              "Vary": {
                "description": "The Vary field value indicates the set of request-header fields that fully determines, while the response is fresh, whether a cache is permitted to use the response to reply to a subsequent request without revalidation. For uncacheable or stale responses, the Vary field value advises the user agent about the criteria that were used to select the representation. A Vary field value of \"*\" implies that a cache cannot determine from the request headers of a subsequent request whether this response is the appropriate representation. See RFC 2616 section 13.6 for use of the Vary header field by caches.",
                "schema": {
                  "type": "string",
                  "example": "Accept, Accept-Encoding, Accept-Language"
                }
              }
            }
          },
          "204": {
            "description": "No data associated with given parameters",
            "headers": {
              "Cache-Control": {
                "description": "Used to specify directives that MUST be obeyed by all caching mechanisms along the response chain. The directives specify behavior intended to prevent caches from adversely interfering with the response. These directives typically override the default caching algorithms.  It is measured in seconds. See RFC 2616 section 14.9 for more details.",
                "schema": {
                  "type": "string",
                  "example": "private, max-age=86400"
                }
              },
              "Vary": {
                "description": "The Vary field value indicates the set of request-header fields that fully determines, while the response is fresh, whether a cache is permitted to use the response to reply to a subsequent request without revalidation. For uncacheable or stale responses, the Vary field value advises the user agent about the criteria that were used to select the representation. A Vary field value of \"*\" implies that a cache cannot determine from the request headers of a subsequent request whether this response is the appropriate representation. See RFC 2616 section 13.6 for use of the Vary header field by caches.",
                "schema": {
                  "type": "string",
                  "example": "Accept, Accept-Encoding, Accept-Language"
                }
              }
            }
          },
          "4XX": {
            "description": "Client error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "Error message"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          },
          "5XX": {
            "description": "Server error"
          }
        },
        "security": [
          {
            "OAuth2": [
              "read_highlights"
            ],
            "yvpAppKey": []
          }
        ],
        "tags": [
          "highlights"
        ]
      },
      "post": {
        "summary": "Create or update a highlight on a passage.",
        "description": "Verse ranges may be used in the POST body passage_id attribute.",
        "operationId": "v1.highlights.collection_post",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "request_id": {
                    "description": "Request UUID for idempotent create retries.",
                    "example": "2f8c5d2e-6f6c-4b4f-9b36-8c1b5a17d3f9",
                    "type": "string",
                    "format": "uuid"
                  },
                  "highlight": {
                    "type": "object",
                    "properties": {
                      "bible_id": {
                        "description": "Bible version identifier",
                        "example": 3034,
                        "type": "integer",
                        "format": "int32"
                      },
                      "passage_id": {
                        "description": "The passage identifier (verse USFM format)",
                        "example": "MAT.1.1",
                        "type": "string"
                      },
                      "color": {
                        "description": "The highlight color in hex format",
                        "example": "44aa44",
                        "type": "string",
                        "pattern": "^[0-9a-f]{6}$"
                      }
                    },
                    "required": [
                      "bible_id",
                      "passage_id",
                      "color"
                    ]
                  }
                },
                "required": [
                  "request_id",
                  "highlight"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Highlight(s) created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "bible_id": {
                      "description": "Bible version identifier",
                      "example": 3034,
                      "type": "integer",
                      "format": "int32"
                    },
                    "passage_id": {
                      "description": "The passage identifier (verse USFM format)",
                      "example": "MAT.1.1",
                      "type": "string"
                    },
                    "color": {
                      "description": "The highlight color in hex format",
                      "example": "44aa44",
                      "type": "string",
[...]
