// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { normalizeClientOptionsWithAuth, type NormalizedClientOptionsWithAuth } from "../../../../BaseClient.js";
import * as core from "../../../../core/index.js";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../core/headers.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as YouVersionPlatform from "../../../index.js";

export declare namespace SearchUnifiedClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class SearchUnifiedClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<SearchUnifiedClient.Options>;

    constructor(options: SearchUnifiedClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Search for Bible verses and related topics by query, returning a single unified set of results across all content kinds. Verse results carry references and metadata only (e.g. JHN.3.16), never passage text; resolve verse text through the licensed-content endpoint.
     *
     * This endpoint is unpaginated: it returns one combined page of top results per kind and exposes no page_size or page_token parameters. Use the kind-specific endpoints (search-verses, search-topics) when you need to page through the full result set for a single kind.
     *
     * @param {YouVersionPlatform.V1SearchUnifiedCollectionGetRequest} request
     * @param {SearchUnifiedClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.searchUnified.v1SearchUnifiedCollectionGet({
     *         query: "query",
     *         bible_id: 1,
     *         "language_ranges[]": ["en"]
     *     })
     */
    public v1SearchUnifiedCollectionGet(
        request: YouVersionPlatform.V1SearchUnifiedCollectionGetRequest,
        requestOptions?: SearchUnifiedClient.RequestOptions,
    ): core.HttpResponsePromise<YouVersionPlatform.V1SearchUnifiedCollectionGetResponse> {
        return core.HttpResponsePromise.fromPromise(this.__v1SearchUnifiedCollectionGet(request, requestOptions));
    }

    private async __v1SearchUnifiedCollectionGet(
        request: YouVersionPlatform.V1SearchUnifiedCollectionGetRequest,
        requestOptions?: SearchUnifiedClient.RequestOptions,
    ): Promise<core.WithRawResponse<YouVersionPlatform.V1SearchUnifiedCollectionGetResponse>> {
        const {
            query,
            bible_id: bibleId,
            "language_ranges[]": languageRangesArray,
            user_intent: userIntent,
            "fields[]": fieldsArray,
        } = request;
        const _queryParams: Record<string, unknown> = {
            query,
            bible_id: bibleId,
            "language_ranges[]": languageRangesArray,
            user_intent: userIntent != null ? userIntent : undefined,
            "fields[]": fieldsArray,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "X-YVP-App-Key": requestOptions?.yvpAppKey ?? this._options?.yvpAppKey }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.YouVersionPlatformEnvironment.Default,
                "v1/search-unified",
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as YouVersionPlatform.V1SearchUnifiedCollectionGetResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.YouVersionPlatformError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/v1/search-unified");
    }
}
