// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { normalizeClientOptionsWithAuth, type NormalizedClientOptionsWithAuth } from "../../../../BaseClient.js";
import * as core from "../../../../core/index.js";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../core/headers.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as YouVersionPlatform from "../../../index.js";

export declare namespace VerseOfTheDaysClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

/**
 * Get the daily YouVersion Bible verse selections for calendar days.  Get the full year's verse calendar, or
 * get the verse for a specific day.
 */
export class VerseOfTheDaysClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<VerseOfTheDaysClient.Options>;

    constructor(options: VerseOfTheDaysClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * January 1 is day 1 and December 31 is day 365 (or 366 in a leap year).
     *
     * @param {VerseOfTheDaysClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.verseOfTheDays.v1VerseOfTheDaysCanonicalCollectionGet()
     */
    public v1VerseOfTheDaysCanonicalCollectionGet(
        requestOptions?: VerseOfTheDaysClient.RequestOptions,
    ): core.HttpResponsePromise<YouVersionPlatform.V1VerseOfTheDaysCanonicalCollectionGetResponse | undefined> {
        return core.HttpResponsePromise.fromPromise(this.__v1VerseOfTheDaysCanonicalCollectionGet(requestOptions));
    }

    private async __v1VerseOfTheDaysCanonicalCollectionGet(
        requestOptions?: VerseOfTheDaysClient.RequestOptions,
    ): Promise<core.WithRawResponse<YouVersionPlatform.V1VerseOfTheDaysCanonicalCollectionGetResponse | undefined>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "X-YVP-App-Key": requestOptions?.yvpAppKey ?? this._options?.yvpAppKey }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.YouVersionPlatformEnvironment.Default,
                "v1/verse-of-the-days",
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as YouVersionPlatform.V1VerseOfTheDaysCanonicalCollectionGetResponse | undefined,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.YouVersionPlatformError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/v1/verse-of-the-days");
    }

    /**
     * Day is the day of the year (1-366).
     *
     * @param {YouVersionPlatform.V1VerseOfTheDaysCanonicalResourceGetRequest} request
     * @param {VerseOfTheDaysClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.verseOfTheDays.v1VerseOfTheDaysCanonicalResourceGet({
     *         day: 1
     *     })
     */
    public v1VerseOfTheDaysCanonicalResourceGet(
        request: YouVersionPlatform.V1VerseOfTheDaysCanonicalResourceGetRequest,
        requestOptions?: VerseOfTheDaysClient.RequestOptions,
    ): core.HttpResponsePromise<YouVersionPlatform.V1VerseOfTheDaysCanonicalResourceGetResponse> {
        return core.HttpResponsePromise.fromPromise(
            this.__v1VerseOfTheDaysCanonicalResourceGet(request, requestOptions),
        );
    }

    private async __v1VerseOfTheDaysCanonicalResourceGet(
        request: YouVersionPlatform.V1VerseOfTheDaysCanonicalResourceGetRequest,
        requestOptions?: VerseOfTheDaysClient.RequestOptions,
    ): Promise<core.WithRawResponse<YouVersionPlatform.V1VerseOfTheDaysCanonicalResourceGetResponse>> {
        const { day } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "X-YVP-App-Key": requestOptions?.yvpAppKey ?? this._options?.yvpAppKey }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.YouVersionPlatformEnvironment.Default,
                `v1/verse-of-the-days/${core.url.encodePathParam(day)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as YouVersionPlatform.V1VerseOfTheDaysCanonicalResourceGetResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.YouVersionPlatformError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/v1/verse-of-the-days/{day}");
    }
}
