// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { normalizeClientOptionsWithAuth, type NormalizedClientOptionsWithAuth } from "../../../../BaseClient.js";
import * as core from "../../../../core/index.js";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../core/headers.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as YouVersionPlatform from "../../../index.js";

export declare namespace SearchQueriesClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class SearchQueriesClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<SearchQueriesClient.Options>;

    constructor(options: SearchQueriesClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Returns query objects (a search string and its source). Supply query with language_ranges[] for as-you-type suggestions, or trending=true with language_ranges[] for recently popular searches. When trending=true, query is ignored. The first language range supported by search is used.
     *
     * @param {YouVersionPlatform.V1SearchQueriesCollectionGetRequest} request
     * @param {SearchQueriesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.searchQueries.v1SearchQueriesCollectionGet({
     *         "language_ranges[]": ["en"],
     *         query: "lo"
     *     })
     */
    public v1SearchQueriesCollectionGet(
        request: YouVersionPlatform.V1SearchQueriesCollectionGetRequest,
        requestOptions?: SearchQueriesClient.RequestOptions,
    ): core.HttpResponsePromise<YouVersionPlatform.V1SearchQueriesCollectionGetResponse | undefined> {
        return core.HttpResponsePromise.fromPromise(this.__v1SearchQueriesCollectionGet(request, requestOptions));
    }

    private async __v1SearchQueriesCollectionGet(
        request: YouVersionPlatform.V1SearchQueriesCollectionGetRequest,
        requestOptions?: SearchQueriesClient.RequestOptions,
    ): Promise<core.WithRawResponse<YouVersionPlatform.V1SearchQueriesCollectionGetResponse | undefined>> {
        const { "language_ranges[]": languageRangesArray, query, trending } = request;
        const _queryParams: Record<string, unknown> = {
            "language_ranges[]": languageRangesArray,
            query,
            trending,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "X-YVP-App-Key": requestOptions?.yvpAppKey ?? this._options?.yvpAppKey }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.YouVersionPlatformEnvironment.Default,
                "v1/search-queries",
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as YouVersionPlatform.V1SearchQueriesCollectionGetResponse | undefined,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.YouVersionPlatformError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/v1/search-queries");
    }
}
