// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { normalizeClientOptionsWithAuth, type NormalizedClientOptionsWithAuth } from "../../../../BaseClient.js";
import * as core from "../../../../core/index.js";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../core/headers.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as YouVersionPlatform from "../../../index.js";

export declare namespace SearchTopicsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class SearchTopicsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<SearchTopicsClient.Options>;

    constructor(options: SearchTopicsClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Returns the set of topics (id, text, subtopics) related to a query, for pivoting to other verses in the same topic.
     *
     * This endpoint is unpaginated: Core Search returns a fixed set of topics and exposes no page_size or page_token parameters. Query metadata (did_you_mean, search_instead_for) is always included.
     *
     * @param {YouVersionPlatform.V1SearchTopicsCollectionGetRequest} request
     * @param {SearchTopicsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.searchTopics.v1SearchTopicsCollectionGet({
     *         query: "query",
     *         "language_ranges[]": ["en"]
     *     })
     */
    public v1SearchTopicsCollectionGet(
        request: YouVersionPlatform.V1SearchTopicsCollectionGetRequest,
        requestOptions?: SearchTopicsClient.RequestOptions,
    ): core.HttpResponsePromise<YouVersionPlatform.V1SearchTopicsCollectionGetResponse> {
        return core.HttpResponsePromise.fromPromise(this.__v1SearchTopicsCollectionGet(request, requestOptions));
    }

    private async __v1SearchTopicsCollectionGet(
        request: YouVersionPlatform.V1SearchTopicsCollectionGetRequest,
        requestOptions?: SearchTopicsClient.RequestOptions,
    ): Promise<core.WithRawResponse<YouVersionPlatform.V1SearchTopicsCollectionGetResponse>> {
        const { query, "language_ranges[]": languageRangesArray } = request;
        const _queryParams: Record<string, unknown> = {
            query,
            "language_ranges[]": languageRangesArray,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "X-YVP-App-Key": requestOptions?.yvpAppKey ?? this._options?.yvpAppKey }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.YouVersionPlatformEnvironment.Default,
                "v1/search-topics",
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as YouVersionPlatform.V1SearchTopicsCollectionGetResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.YouVersionPlatformError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/v1/search-topics");
    }
}
