// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { normalizeClientOptionsWithAuth, type NormalizedClientOptionsWithAuth } from "../../../../BaseClient.js";
import * as core from "../../../../core/index.js";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../core/headers.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as YouVersionPlatform from "../../../index.js";

export declare namespace BiblesClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

/**
 * Provides data about Bible versions and their content.  Use these endpoints to get passage text,
 * as well as metadata about available Bibles and their structure.
 */
export class BiblesClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<BiblesClient.Options>;

    constructor(options: BiblesClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Retrieves a paginated list of Bible versions available.
     * When multiple language_ranges parameters are specified, the set of Bibles returned will be from
     * the first language range which has available Bibles.
     *
     * @param {YouVersionPlatform.BiblesCollectionGetRequest} request
     * @param {BiblesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.bibles.collectionGet({
     *         "language_ranges[]": ["en"],
     *         page_token: "eyJzdGFydF9hdCI6IDI2fQ=="
     *     })
     */
    public collectionGet(
        request: YouVersionPlatform.BiblesCollectionGetRequest,
        requestOptions?: BiblesClient.RequestOptions,
    ): core.HttpResponsePromise<YouVersionPlatform.BiblesCollectionGetResponse | undefined> {
        return core.HttpResponsePromise.fromPromise(this.__collectionGet(request, requestOptions));
    }

    private async __collectionGet(
        request: YouVersionPlatform.BiblesCollectionGetRequest,
        requestOptions?: BiblesClient.RequestOptions,
    ): Promise<core.WithRawResponse<YouVersionPlatform.BiblesCollectionGetResponse | undefined>> {
        const {
            all_available: allAvailable,
            "language_ranges[]": languageRangesArray,
            license_id: licenseId,
            page_size: pageSize,
            "fields[]": fieldsArray,
            page_token: pageToken,
        } = request;
        const _queryParams: Record<string, unknown> = {
            all_available: allAvailable,
            "language_ranges[]": languageRangesArray,
            license_id: licenseId,
            page_size: pageSize != null ? pageSize : undefined,
            "fields[]": fieldsArray,
            page_token: pageToken,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "X-YVP-App-Key": requestOptions?.yvpAppKey ?? this._options?.yvpAppKey }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.YouVersionPlatformEnvironment.Default,
                "v1/bibles",
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as YouVersionPlatform.BiblesCollectionGetResponse | undefined,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.YouVersionPlatformError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/v1/bibles");
    }

    /**
     * Get a Bible resource for a single Bible version.
     * This does not include the Bible's text content; use the Passages endpoint for that.
     *
     * @param {YouVersionPlatform.BiblesResourceGetRequest} request
     * @param {BiblesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.bibles.resourceGet({
     *         bible_id_path: 3034
     *     })
     */
    public resourceGet(
        request: YouVersionPlatform.BiblesResourceGetRequest,
        requestOptions?: BiblesClient.RequestOptions,
    ): core.HttpResponsePromise<YouVersionPlatform.BiblesResourceGetResponse> {
        return core.HttpResponsePromise.fromPromise(this.__resourceGet(request, requestOptions));
    }

    private async __resourceGet(
        request: YouVersionPlatform.BiblesResourceGetRequest,
        requestOptions?: BiblesClient.RequestOptions,
    ): Promise<core.WithRawResponse<YouVersionPlatform.BiblesResourceGetResponse>> {
        const { bible_id_path: bibleIdPath } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "X-YVP-App-Key": requestOptions?.yvpAppKey ?? this._options?.yvpAppKey }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.YouVersionPlatformEnvironment.Default,
                `v1/bibles/${core.url.encodePathParam(bibleIdPath)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as YouVersionPlatform.BiblesResourceGetResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.YouVersionPlatformError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/v1/bibles/{bible_id_path}");
    }

    /**
     * Retrieves the indexing structure for the specified Bible version.  This includes the full hierarchy of
     * books, chapters, and verse counts.
     *
     * @param {YouVersionPlatform.BiblesIndexCollectionGetRequest} request
     * @param {BiblesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.bibles.indexCollectionGet({
     *         bible_id_path: 3034
     *     })
     */
    public indexCollectionGet(
        request: YouVersionPlatform.BiblesIndexCollectionGetRequest,
        requestOptions?: BiblesClient.RequestOptions,
    ): core.HttpResponsePromise<YouVersionPlatform.BiblesIndexCollectionGetResponse> {
        return core.HttpResponsePromise.fromPromise(this.__indexCollectionGet(request, requestOptions));
    }

    private async __indexCollectionGet(
        request: YouVersionPlatform.BiblesIndexCollectionGetRequest,
        requestOptions?: BiblesClient.RequestOptions,
    ): Promise<core.WithRawResponse<YouVersionPlatform.BiblesIndexCollectionGetResponse>> {
        const { bible_id_path: bibleIdPath } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "X-YVP-App-Key": requestOptions?.yvpAppKey ?? this._options?.yvpAppKey }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.YouVersionPlatformEnvironment.Default,
                `v1/bibles/${core.url.encodePathParam(bibleIdPath)}/index`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as YouVersionPlatform.BiblesIndexCollectionGetResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.YouVersionPlatformError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/v1/bibles/{bible_id_path}/index",
        );
    }

    /**
     * Returns the specified scripture passage in the requested format. Headings and
     * notes may be included via query parameters, but only when format=html. They
     * are omitted when format=text. The response includes content text and metadata
     * such as verse ranges and formatting details.
     *
     * @param {YouVersionPlatform.BiblesPassagesResourceGetRequest} request
     * @param {BiblesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.bibles.passagesResourceGet({
     *         bible_id_path: 3034,
     *         passage_id_path: "MAT.1.1"
     *     })
     */
    public passagesResourceGet(
        request: YouVersionPlatform.BiblesPassagesResourceGetRequest,
        requestOptions?: BiblesClient.RequestOptions,
    ): core.HttpResponsePromise<YouVersionPlatform.BiblesPassagesResourceGetResponse> {
        return core.HttpResponsePromise.fromPromise(this.__passagesResourceGet(request, requestOptions));
    }

    private async __passagesResourceGet(
        request: YouVersionPlatform.BiblesPassagesResourceGetRequest,
        requestOptions?: BiblesClient.RequestOptions,
    ): Promise<core.WithRawResponse<YouVersionPlatform.BiblesPassagesResourceGetResponse>> {
        const {
            bible_id_path: bibleIdPath,
            passage_id_path: passageIdPath,
            format,
            include_headings: includeHeadings,
            include_notes: includeNotes,
        } = request;
        const _queryParams: Record<string, unknown> = {
            format: format != null ? format : undefined,
            include_headings: includeHeadings,
            include_notes: includeNotes,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "X-YVP-App-Key": requestOptions?.yvpAppKey ?? this._options?.yvpAppKey }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.YouVersionPlatformEnvironment.Default,
                `v1/bibles/${core.url.encodePathParam(bibleIdPath)}/passages/${core.url.encodePathParam(passageIdPath)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as YouVersionPlatform.BiblesPassagesResourceGetResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.YouVersionPlatformError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/v1/bibles/{bible_id_path}/passages/{passage_id_path}",
        );
    }

    /**
     * Retrieves the list of books (e.g. Genesis, Exodus) for the specified Bible version.
     *
     * @param {YouVersionPlatform.BiblesBooksCollectionGetRequest} request
     * @param {BiblesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.bibles.booksCollectionGet({
     *         bible_id_path: 3034
     *     })
     */
    public booksCollectionGet(
        request: YouVersionPlatform.BiblesBooksCollectionGetRequest,
        requestOptions?: BiblesClient.RequestOptions,
    ): core.HttpResponsePromise<YouVersionPlatform.BiblesBooksCollectionGetResponse | undefined> {
        return core.HttpResponsePromise.fromPromise(this.__booksCollectionGet(request, requestOptions));
    }

    private async __booksCollectionGet(
        request: YouVersionPlatform.BiblesBooksCollectionGetRequest,
        requestOptions?: BiblesClient.RequestOptions,
    ): Promise<core.WithRawResponse<YouVersionPlatform.BiblesBooksCollectionGetResponse | undefined>> {
        const { bible_id_path: bibleIdPath, canon } = request;
        const _queryParams: Record<string, unknown> = {
            canon: canon != null ? canon : undefined,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "X-YVP-App-Key": requestOptions?.yvpAppKey ?? this._options?.yvpAppKey }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.YouVersionPlatformEnvironment.Default,
                `v1/bibles/${core.url.encodePathParam(bibleIdPath)}/books`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as YouVersionPlatform.BiblesBooksCollectionGetResponse | undefined,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.YouVersionPlatformError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/v1/bibles/{bible_id_path}/books",
        );
    }

    /**
     * Get a Book resource. This does not include the text content; use the Passages endpoint for that.
     *
     * @param {YouVersionPlatform.BiblesBooksResourceGetRequest} request
     * @param {BiblesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.bibles.booksResourceGet({
     *         bible_id_path: 3034,
     *         book_id: "MAT"
     *     })
     */
    public booksResourceGet(
        request: YouVersionPlatform.BiblesBooksResourceGetRequest,
        requestOptions?: BiblesClient.RequestOptions,
    ): core.HttpResponsePromise<YouVersionPlatform.BiblesBooksResourceGetResponse> {
        return core.HttpResponsePromise.fromPromise(this.__booksResourceGet(request, requestOptions));
    }

    private async __booksResourceGet(
        request: YouVersionPlatform.BiblesBooksResourceGetRequest,
        requestOptions?: BiblesClient.RequestOptions,
    ): Promise<core.WithRawResponse<YouVersionPlatform.BiblesBooksResourceGetResponse>> {
        const { bible_id_path: bibleIdPath, book_id: bookId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "X-YVP-App-Key": requestOptions?.yvpAppKey ?? this._options?.yvpAppKey }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.YouVersionPlatformEnvironment.Default,
                `v1/bibles/${core.url.encodePathParam(bibleIdPath)}/books/${core.url.encodePathParam(bookId)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as YouVersionPlatform.BiblesBooksResourceGetResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.YouVersionPlatformError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/v1/bibles/{bible_id_path}/books/{book_id}",
        );
    }

    /**
     * Get a collection of Chapters for the given Bible and Book
     *
     * @param {YouVersionPlatform.BiblesBooksChaptersCollectionGetRequest} request
     * @param {BiblesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.bibles.booksChaptersCollectionGet({
     *         bible_id_path: 3034,
     *         book_id: "MAT"
     *     })
     */
    public booksChaptersCollectionGet(
        request: YouVersionPlatform.BiblesBooksChaptersCollectionGetRequest,
        requestOptions?: BiblesClient.RequestOptions,
    ): core.HttpResponsePromise<YouVersionPlatform.BiblesBooksChaptersCollectionGetResponse | undefined> {
        return core.HttpResponsePromise.fromPromise(this.__booksChaptersCollectionGet(request, requestOptions));
    }

    private async __booksChaptersCollectionGet(
        request: YouVersionPlatform.BiblesBooksChaptersCollectionGetRequest,
        requestOptions?: BiblesClient.RequestOptions,
    ): Promise<core.WithRawResponse<YouVersionPlatform.BiblesBooksChaptersCollectionGetResponse | undefined>> {
        const { bible_id_path: bibleIdPath, book_id: bookId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "X-YVP-App-Key": requestOptions?.yvpAppKey ?? this._options?.yvpAppKey }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.YouVersionPlatformEnvironment.Default,
                `v1/bibles/${core.url.encodePathParam(bibleIdPath)}/books/${core.url.encodePathParam(bookId)}/chapters`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as YouVersionPlatform.BiblesBooksChaptersCollectionGetResponse | undefined,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.YouVersionPlatformError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/v1/bibles/{bible_id_path}/books/{book_id}/chapters",
        );
    }

    /**
     * Get a Chapter resource. This does not include the text content; use the Passages endpoint for that.
     *
     * @param {YouVersionPlatform.BiblesBooksChaptersResourceGetRequest} request
     * @param {BiblesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.bibles.booksChaptersResourceGet({
     *         bible_id_path: 3034,
     *         book_id: "MAT",
     *         chapter_id: "chapter_id"
     *     })
     */
    public booksChaptersResourceGet(
        request: YouVersionPlatform.BiblesBooksChaptersResourceGetRequest,
        requestOptions?: BiblesClient.RequestOptions,
    ): core.HttpResponsePromise<YouVersionPlatform.BiblesBooksChaptersResourceGetResponse> {
        return core.HttpResponsePromise.fromPromise(this.__booksChaptersResourceGet(request, requestOptions));
    }

    private async __booksChaptersResourceGet(
        request: YouVersionPlatform.BiblesBooksChaptersResourceGetRequest,
        requestOptions?: BiblesClient.RequestOptions,
    ): Promise<core.WithRawResponse<YouVersionPlatform.BiblesBooksChaptersResourceGetResponse>> {
        const { bible_id_path: bibleIdPath, book_id: bookId, chapter_id: chapterId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "X-YVP-App-Key": requestOptions?.yvpAppKey ?? this._options?.yvpAppKey }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.YouVersionPlatformEnvironment.Default,
                `v1/bibles/${core.url.encodePathParam(bibleIdPath)}/books/${core.url.encodePathParam(bookId)}/chapters/${core.url.encodePathParam(chapterId)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as YouVersionPlatform.BiblesBooksChaptersResourceGetResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.YouVersionPlatformError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/v1/bibles/{bible_id_path}/books/{book_id}/chapters/{chapter_id}",
        );
    }

    /**
     * Get a collection of Verses for a Chapter.
     *
     * @param {YouVersionPlatform.BiblesBooksChaptersVersesCollectionGetRequest} request
     * @param {BiblesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.bibles.booksChaptersVersesCollectionGet({
     *         bible_id_path: 3034,
     *         book_id: "MAT",
     *         chapter_id: "chapter_id"
     *     })
     */
    public booksChaptersVersesCollectionGet(
        request: YouVersionPlatform.BiblesBooksChaptersVersesCollectionGetRequest,
        requestOptions?: BiblesClient.RequestOptions,
    ): core.HttpResponsePromise<YouVersionPlatform.BiblesBooksChaptersVersesCollectionGetResponse | undefined> {
        return core.HttpResponsePromise.fromPromise(this.__booksChaptersVersesCollectionGet(request, requestOptions));
    }

    private async __booksChaptersVersesCollectionGet(
        request: YouVersionPlatform.BiblesBooksChaptersVersesCollectionGetRequest,
        requestOptions?: BiblesClient.RequestOptions,
    ): Promise<core.WithRawResponse<YouVersionPlatform.BiblesBooksChaptersVersesCollectionGetResponse | undefined>> {
        const { bible_id_path: bibleIdPath, book_id: bookId, chapter_id: chapterId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "X-YVP-App-Key": requestOptions?.yvpAppKey ?? this._options?.yvpAppKey }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.YouVersionPlatformEnvironment.Default,
                `v1/bibles/${core.url.encodePathParam(bibleIdPath)}/books/${core.url.encodePathParam(bookId)}/chapters/${core.url.encodePathParam(chapterId)}/verses`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as YouVersionPlatform.BiblesBooksChaptersVersesCollectionGetResponse | undefined,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.YouVersionPlatformError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/v1/bibles/{bible_id_path}/books/{book_id}/chapters/{chapter_id}/verses",
        );
    }

    /**
     * Get a Verse resource. This does not include the text content; use the Passages endpoint for that.
     *
     * @param {YouVersionPlatform.BiblesBooksChaptersVersesResourceGetRequest} request
     * @param {BiblesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.bibles.booksChaptersVersesResourceGet({
     *         bible_id_path: 3034,
     *         book_id: "MAT",
     *         chapter_id: "chapter_id",
     *         verse_id: "verse_id"
     *     })
     */
    public booksChaptersVersesResourceGet(
        request: YouVersionPlatform.BiblesBooksChaptersVersesResourceGetRequest,
        requestOptions?: BiblesClient.RequestOptions,
    ): core.HttpResponsePromise<YouVersionPlatform.BiblesBooksChaptersVersesResourceGetResponse> {
        return core.HttpResponsePromise.fromPromise(this.__booksChaptersVersesResourceGet(request, requestOptions));
    }

    private async __booksChaptersVersesResourceGet(
        request: YouVersionPlatform.BiblesBooksChaptersVersesResourceGetRequest,
        requestOptions?: BiblesClient.RequestOptions,
    ): Promise<core.WithRawResponse<YouVersionPlatform.BiblesBooksChaptersVersesResourceGetResponse>> {
        const { bible_id_path: bibleIdPath, book_id: bookId, chapter_id: chapterId, verse_id: verseId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "X-YVP-App-Key": requestOptions?.yvpAppKey ?? this._options?.yvpAppKey }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.YouVersionPlatformEnvironment.Default,
                `v1/bibles/${core.url.encodePathParam(bibleIdPath)}/books/${core.url.encodePathParam(bookId)}/chapters/${core.url.encodePathParam(chapterId)}/verses/${core.url.encodePathParam(verseId)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as YouVersionPlatform.BiblesBooksChaptersVersesResourceGetResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.YouVersionPlatformError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/v1/bibles/{bible_id_path}/books/{book_id}/chapters/{chapter_id}/verses/{verse_id}",
        );
    }
}
