// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { normalizeClientOptionsWithAuth, type NormalizedClientOptionsWithAuth } from "../../../../BaseClient.js";
import * as core from "../../../../core/index.js";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../core/headers.js";
import { mergeAdditionalBodyParameters } from "../../../../core/requestBody.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as YouVersionPlatform from "../../../index.js";

export declare namespace HighlightsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

/**
 * Endpoints for managing user highlights on scripture passages.  Use these to list existing highlights,
 * create new ones, update highlights, or clear highlights for verse ranges.
 */
export class HighlightsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<HighlightsClient.Options>;

    constructor(options: HighlightsClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * The response will return a color per verse without ranges.
     *
     * @param {YouVersionPlatform.V1HighlightsCollectionGetRequest} request
     * @param {HighlightsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.highlights.v1HighlightsCollectionGet({
     *         bible_id: 1,
     *         passage_id: "MAT.1.1"
     *     })
     */
    public v1HighlightsCollectionGet(
        request: YouVersionPlatform.V1HighlightsCollectionGetRequest,
        requestOptions?: HighlightsClient.RequestOptions,
    ): core.HttpResponsePromise<YouVersionPlatform.V1HighlightsCollectionGetResponse | undefined> {
        return core.HttpResponsePromise.fromPromise(this.__v1HighlightsCollectionGet(request, requestOptions));
    }

    private async __v1HighlightsCollectionGet(
        request: YouVersionPlatform.V1HighlightsCollectionGetRequest,
        requestOptions?: HighlightsClient.RequestOptions,
    ): Promise<core.WithRawResponse<YouVersionPlatform.V1HighlightsCollectionGetResponse | undefined>> {
        const { bible_id: bibleId, passage_id: passageId } = request;
        const _queryParams: Record<string, unknown> = {
            bible_id: bibleId,
            passage_id: passageId,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "X-YVP-App-Key": requestOptions?.yvpAppKey ?? this._options?.yvpAppKey }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.YouVersionPlatformEnvironment.Default,
                "v1/highlights",
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as YouVersionPlatform.V1HighlightsCollectionGetResponse | undefined,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.YouVersionPlatformError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/v1/highlights");
    }

    /**
     * Verse ranges may be used in the POST body passage_id attribute.
     *
     * @param {YouVersionPlatform.V1HighlightsCollectionPostRequest} request
     * @param {HighlightsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.highlights.v1HighlightsCollectionPost({
     *         request_id: "2f8c5d2e-6f6c-4b4f-9b36-8c1b5a17d3f9",
     *         highlight: {
     *             bible_id: 3034,
     *             passage_id: "MAT.1.1",
     *             color: "44aa44"
     *         }
     *     })
     */
    public v1HighlightsCollectionPost(
        request: YouVersionPlatform.V1HighlightsCollectionPostRequest,
        requestOptions?: HighlightsClient.RequestOptions,
    ): core.HttpResponsePromise<YouVersionPlatform.V1HighlightsCollectionPostResponse> {
        return core.HttpResponsePromise.fromPromise(this.__v1HighlightsCollectionPost(request, requestOptions));
    }

    private async __v1HighlightsCollectionPost(
        request: YouVersionPlatform.V1HighlightsCollectionPostRequest,
        requestOptions?: HighlightsClient.RequestOptions,
    ): Promise<core.WithRawResponse<YouVersionPlatform.V1HighlightsCollectionPostResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "X-YVP-App-Key": requestOptions?.yvpAppKey ?? this._options?.yvpAppKey }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.YouVersionPlatformEnvironment.Default,
                "v1/highlights",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(request, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as YouVersionPlatform.V1HighlightsCollectionPostResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.YouVersionPlatformError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/v1/highlights");
    }

    /**
     * Clear highlights for a passage.
     *
     * @param {YouVersionPlatform.V1HighlightsResourceDeleteRequest} request
     * @param {HighlightsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.highlights.v1HighlightsResourceDelete({
     *         passage_id_path: "MAT.1.1",
     *         bible_id: 1
     *     })
     */
    public v1HighlightsResourceDelete(
        request: YouVersionPlatform.V1HighlightsResourceDeleteRequest,
        requestOptions?: HighlightsClient.RequestOptions,
    ): core.HttpResponsePromise<void> {
        return core.HttpResponsePromise.fromPromise(this.__v1HighlightsResourceDelete(request, requestOptions));
    }

    private async __v1HighlightsResourceDelete(
        request: YouVersionPlatform.V1HighlightsResourceDeleteRequest,
        requestOptions?: HighlightsClient.RequestOptions,
    ): Promise<core.WithRawResponse<void>> {
        const { passage_id_path: passageIdPath, bible_id: bibleId } = request;
        const _queryParams: Record<string, unknown> = {
            bible_id: bibleId,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "X-YVP-App-Key": requestOptions?.yvpAppKey ?? this._options?.yvpAppKey }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.YouVersionPlatformEnvironment.Default,
                `v1/highlights/${core.url.encodePathParam(passageIdPath)}`,
            ),
            method: "DELETE",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: undefined, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.YouVersionPlatformError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "DELETE",
            "/v1/highlights/{passage_id_path}",
        );
    }
}
