// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { normalizeClientOptionsWithAuth, type NormalizedClientOptionsWithAuth } from "../../../../BaseClient.js";
import * as core from "../../../../core/index.js";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../core/headers.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as YouVersionPlatform from "../../../index.js";

export declare namespace PermissionsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

/**
 * Provides the permissions a user has granted to the calling app.
 */
export class PermissionsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<PermissionsClient.Options>;

    constructor(options: PermissionsClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Returns permissions the authenticated user has already granted to the calling app. Use this
     * endpoint before starting an OAuth permission request when you need to know whether the user
     * has already granted access. The app ID path parameter must match the gateway-injected
     * calling app ID. An empty permissions array means the user has not granted permissions for
     * this app.
     *
     * @param {YouVersionPlatform.V1AppsPermissionsCollectionGetRequest} request
     * @param {PermissionsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.permissions.v1AppsPermissionsCollectionGet({
     *         app_id: "app_id"
     *     })
     */
    public v1AppsPermissionsCollectionGet(
        request: YouVersionPlatform.V1AppsPermissionsCollectionGetRequest,
        requestOptions?: PermissionsClient.RequestOptions,
    ): core.HttpResponsePromise<YouVersionPlatform.V1AppsPermissionsCollectionGetResponse> {
        return core.HttpResponsePromise.fromPromise(this.__v1AppsPermissionsCollectionGet(request, requestOptions));
    }

    private async __v1AppsPermissionsCollectionGet(
        request: YouVersionPlatform.V1AppsPermissionsCollectionGetRequest,
        requestOptions?: PermissionsClient.RequestOptions,
    ): Promise<core.WithRawResponse<YouVersionPlatform.V1AppsPermissionsCollectionGetResponse>> {
        const { app_id: appId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "X-YVP-App-Key": requestOptions?.yvpAppKey ?? this._options?.yvpAppKey }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.YouVersionPlatformEnvironment.Default,
                `v1/apps/${core.url.encodePathParam(appId)}/permissions`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as YouVersionPlatform.V1AppsPermissionsCollectionGetResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.YouVersionPlatformError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/v1/apps/{app_id}/permissions");
    }
}
