// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { normalizeClientOptionsWithAuth, type NormalizedClientOptionsWithAuth } from "../../../../BaseClient.js";
import * as core from "../../../../core/index.js";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../core/headers.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as YouVersionPlatform from "../../../index.js";

export declare namespace AppsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class AppsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<AppsClient.Options>;

    constructor(options: AppsClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Get a single app resource by its id.
     *
     * @param {YouVersionPlatform.V1AppsResourceGetRequest} request
     * @param {AppsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link YouVersionPlatform.NotFoundError}
     *
     * @example
     *     await client.apps.v1AppsResourceGet({
     *         app_id: "app_id"
     *     })
     */
    public v1AppsResourceGet(
        request: YouVersionPlatform.V1AppsResourceGetRequest,
        requestOptions?: AppsClient.RequestOptions,
    ): core.HttpResponsePromise<YouVersionPlatform.V1AppsResourceGetResponse> {
        return core.HttpResponsePromise.fromPromise(this.__v1AppsResourceGet(request, requestOptions));
    }

    private async __v1AppsResourceGet(
        request: YouVersionPlatform.V1AppsResourceGetRequest,
        requestOptions?: AppsClient.RequestOptions,
    ): Promise<core.WithRawResponse<YouVersionPlatform.V1AppsResourceGetResponse>> {
        const { app_id: appId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "X-YVP-App-Key": requestOptions?.yvpAppKey ?? this._options?.yvpAppKey }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.YouVersionPlatformEnvironment.Default,
                `v1/apps/${core.url.encodePathParam(appId)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as YouVersionPlatform.V1AppsResourceGetResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 404:
                    throw new YouVersionPlatform.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.YouVersionPlatformError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/v1/apps/{app_id}");
    }
}
