// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { normalizeClientOptionsWithAuth, type NormalizedClientOptionsWithAuth } from "../../../../BaseClient.js";
import * as core from "../../../../core/index.js";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../core/headers.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as YouVersionPlatform from "../../../index.js";

export declare namespace FontsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

/**
 * Provides metadata for font families approved for Platform consumers. Use these endpoints to
 * discover available families, variants, and CDN asset URLs.
 */
export class FontsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<FontsClient.Options>;

    constructor(options: FontsClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Get a collection of font family resources with their available variants and CDN sources.
     *
     * @param {FontsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.fonts.v1FontsCollectionGet()
     */
    public v1FontsCollectionGet(
        requestOptions?: FontsClient.RequestOptions,
    ): core.HttpResponsePromise<YouVersionPlatform.V1FontsCollectionGetResponse> {
        return core.HttpResponsePromise.fromPromise(this.__v1FontsCollectionGet(requestOptions));
    }

    private async __v1FontsCollectionGet(
        requestOptions?: FontsClient.RequestOptions,
    ): Promise<core.WithRawResponse<YouVersionPlatform.V1FontsCollectionGetResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "X-YVP-App-Key": requestOptions?.yvpAppKey ?? this._options?.yvpAppKey }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.YouVersionPlatformEnvironment.Default,
                "v1/fonts",
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as YouVersionPlatform.V1FontsCollectionGetResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.YouVersionPlatformError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/v1/fonts");
    }

    /**
     * Get a single font family resource by its integer identifier.
     *
     * @param {YouVersionPlatform.V1FontsResourceGetRequest} request
     * @param {FontsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.fonts.v1FontsResourceGet({
     *         font_id: 1
     *     })
     */
    public v1FontsResourceGet(
        request: YouVersionPlatform.V1FontsResourceGetRequest,
        requestOptions?: FontsClient.RequestOptions,
    ): core.HttpResponsePromise<YouVersionPlatform.V1FontsResourceGetResponse> {
        return core.HttpResponsePromise.fromPromise(this.__v1FontsResourceGet(request, requestOptions));
    }

    private async __v1FontsResourceGet(
        request: YouVersionPlatform.V1FontsResourceGetRequest,
        requestOptions?: FontsClient.RequestOptions,
    ): Promise<core.WithRawResponse<YouVersionPlatform.V1FontsResourceGetResponse>> {
        const { font_id: fontId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "X-YVP-App-Key": requestOptions?.yvpAppKey ?? this._options?.yvpAppKey }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.YouVersionPlatformEnvironment.Default,
                `v1/fonts/${core.url.encodePathParam(fontId)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as YouVersionPlatform.V1FontsResourceGetResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.YouVersionPlatformError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/v1/fonts/{font_id}");
    }

    /**
     * Get a text/css stylesheet for a single font family resource using the canonical woff2 CDN URLs exposed by the JSON Fonts API for browser consumption. The API gateway accepts `app_key` on this route and injects the required app-id header before forwarding the request to this service.
     *
     * @param {YouVersionPlatform.V1FontsStylesheetGetRequest} request
     * @param {FontsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.fonts.v1FontsStylesheetGet({
     *         font_id: 1
     *     })
     */
    public v1FontsStylesheetGet(
        request: YouVersionPlatform.V1FontsStylesheetGetRequest,
        requestOptions?: FontsClient.RequestOptions,
    ): core.HttpResponsePromise<string> {
        return core.HttpResponsePromise.fromPromise(this.__v1FontsStylesheetGet(request, requestOptions));
    }

    private async __v1FontsStylesheetGet(
        request: YouVersionPlatform.V1FontsStylesheetGetRequest,
        requestOptions?: FontsClient.RequestOptions,
    ): Promise<core.WithRawResponse<string>> {
        const { font_id: fontId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "X-YVP-App-Key": requestOptions?.yvpAppKey ?? this._options?.yvpAppKey }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.YouVersionPlatformEnvironment.Default,
                `v1/fonts/${core.url.encodePathParam(fontId)}/stylesheet`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .add("app_key", await core.Supplier.get(requestOptions?.yvpAppKey ?? this._options?.yvpAppKey))
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            responseType: "text",
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as string, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.YouVersionPlatformError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/v1/fonts/{font_id}/stylesheet",
        );
    }
}
