// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { normalizeClientOptionsWithAuth, type NormalizedClientOptionsWithAuth } from "../../../../BaseClient.js";
import * as core from "../../../../core/index.js";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../core/headers.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as YouVersionPlatform from "../../../index.js";

export declare namespace LicensesClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

/**
 * Provides data about licenses in the YouVersion platform.  These licenses are used by developers
 * to get access to various types of content, e.g. Bibles.
 */
export class LicensesClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<LicensesClient.Options>;

    constructor(options: LicensesClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Returns a list of license metadata. By default, the response returns all licenses.
     * In the case that `developer_id` is passed in the query, it filters to only include licenses
     * the developer has agreed to. In the case that `bible_id` is passed it only returns the
     * license under which that Bible ID is currently licensed. The license object also contains
     * a list of all Bible ids are offered under that license.
     * Optionally combine `developer_id` with the `all_available` query parameter to receive
     * every license while still surfacing the developer's agreement metadata when present.
     *
     * @param {YouVersionPlatform.V1LicensesCollectionGetRequest} request
     * @param {LicensesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.licenses.v1LicensesCollectionGet({
     *         bible_id: 1,
     *         developer_id: "d0338b35-fe38-4ce4-b5fe-71e9a4a9a4c8"
     *     })
     */
    public v1LicensesCollectionGet(
        request: YouVersionPlatform.V1LicensesCollectionGetRequest,
        requestOptions?: LicensesClient.RequestOptions,
    ): core.HttpResponsePromise<YouVersionPlatform.V1LicensesCollectionGetResponse> {
        return core.HttpResponsePromise.fromPromise(this.__v1LicensesCollectionGet(request, requestOptions));
    }

    private async __v1LicensesCollectionGet(
        request: YouVersionPlatform.V1LicensesCollectionGetRequest,
        requestOptions?: LicensesClient.RequestOptions,
    ): Promise<core.WithRawResponse<YouVersionPlatform.V1LicensesCollectionGetResponse>> {
        const { bible_id: bibleId, developer_id: developerId, all_available: allAvailable } = request;
        const _queryParams: Record<string, unknown> = {
            bible_id: bibleId,
            developer_id: developerId,
            all_available: allAvailable,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "X-YVP-App-Key": requestOptions?.yvpAppKey ?? this._options?.yvpAppKey }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.YouVersionPlatformEnvironment.Default,
                "v1/licenses",
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as YouVersionPlatform.V1LicensesCollectionGetResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.YouVersionPlatformError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/v1/licenses");
    }
}
